[2020-04-29 17:24] #575 closed

[2020-04-29 18:17] thatbudakguy opened #579 "circulation activity table mobile design: edge cases"
the mobile design for the circulation activity table is difficult to achieve because of some of the constraints on how we can use the elements in it (see discussion below). these constraints are unfortunate byproducts of the fact that the markup for the page corresponds to a table (not anything implied by the design, just a fact of how browsers work). it would be useful to know how important these

[2020-04-29 18:35] clmahoney commented on #230
- YES, when I filter by circulation dates (like 1919-1920), I get a list of books that circulated in that time period. If I click through to a certain book, I see that the top results will be for those circulation dates, and then I see when else the book circulated (who borrowed it and when). I also tried 1930-1940.

[2020-04-29 19:39] thatbudakguy commented on #496
believe this is now fixed along with #498, so marking ready for testing.

[2020-04-29 19:53] thatbudakguy commented on #495
note for testing - there are a couple cases where we want this to happen.

- if you click the "next" or "previous" page buttons
- if you select a new page from the page dropdown
- if you change the sort, since this will change all of the pages

it should work the same on both members and books search.

[2020-04-29 19:59] clmahoney commented on #80
- YES, I see in the admin that there is now a "purchase date" section and it is filled in if there was a subscription, a renewal, or a supplement on that date
- YES, I can edit the purchase date to make it a partial date. Tried with only year, only year + month, and only month + date
- YES, I can edit the purchase date of a subscription (and also make it a partial date) in a member's account. Trie

[2020-04-29 20:02] clmahoney commented on #496
Hooray, YES this works! I went to the members page, then hit the next button a few times. Whenever I did, the alphabetical chunk in the display box always displayed the current page I was on, even if I hit back or clicked on an individual member detail page and clicked back to the main search.

[2020-04-29 20:02] #496 closed

[2020-04-29 20:04] clmahoney commented on #498
YES, this works - it worked as part of #496.

[2020-04-29 20:04] #498 closed

[2020-04-29 20:17] clmahoney commented on #232
- YES, if the search box remains unfilled, I cannot sort by relevance (it's greyed out):
![Screen Shot 2020-04-29 at 4 10 48 PM](https://user-images.githubusercontent.com/16673934/80642247-23191400-8a34-11ea-8d3f-d5780834eb3a.png)
- YES, when I typed in the search bar, the sort went to relevance without me doing anything (I searched for "Whitman")
- YES, once I searched for Whitman, I was able to

[2020-04-29 22:46] clmahoney commented on #495
- YES this works great! I scrolled to the bottom of the member page, clicked next, and was brought up to the top of the next page! Then I went to the books page, scrolled to the bottom, hit next, and was brought to the top of the next page! Woo!

[2020-04-29 22:46] #495 closed

[2020-04-30 00:26] jkotin commented on #235
This looks fantastic. It's amazing seeing the data in a whole new way.

[2020-04-30 00:26] #235 closed

[2020-04-30 00:29] #230 closed

[2020-04-30 00:43] #232 closed

[2020-04-30 00:49] jkotin commented on #80
This looks great too.  Is there a way to see/check how the timelines have changed, based on the new calculations @rlskoeser ?

[2020-04-30 13:23] rlskoeser commented on #80
@jkotin thanks for reminding me. I thought about this when I was working on the code changes but forgot to review after putting it on the test site.

I just compared the test and production member graphs and data tables, and there are slight differences in numbers in some places - but very slight, membership total by month that have changed are only 1 or 2 off from what they were before.

[2020-04-30 13:32] rlskoeser commented on #80
@jkotin @clmahoney the comments above from @elspethgreen (back in April 2018 🙄 ) have some specifics on records that will need to be corrected after this work. Can you review to make sure you understand what needs to be done and that you'll be able to make these updates?

https://github.com/Princeton-CDH/mep-django/issues/80#issuecomment-382030538
https://github.com/Princeton-CDH/mep-django/issues

[2020-04-30 13:41] jkotin commented on #80
@clmahoney would you work with @i-davis on this?  He knows the membership data the best. Let us know if you understand the data work that needs to be done, and how much time it will take.

[2020-04-30 14:14] rlskoeser commented on #579
@gissoo Here's my stab at implementing this layout, which is currently on the test site:
![Screen Shot 2020-04-30 at 10 09 54 AM](https://user-images.githubusercontent.com/691231/80720364-cc124e00-8aca-11ea-9c14-320a6ebf1d4a.png)

I had to give the right-side edition information even less space to avoid potential overlaps with the dates, and I'm truncating the title for space (because otherwise th

[2020-04-30 15:15] gissoo commented on #563
Revised and deleted a few screens on Zeplin to make sure they are up-to-date.

[2020-04-30 15:27] gissoo opened #580 "Revise the book search box language so that it accurately guides users to what can be searched"

[2020-04-30 17:02] i-davis commented on #80
@rlskoeser @jkotin @clmahoney: So I think I understand the issue! Let me know if the following makes sense as a response. I'm toggling back and forth in my brain between the specific situation Ellie notes; and your question, @rlskoeser, about whether a renewal can be paid for after the start date. I'm just going to be over-thorough in what follows: forgive me if I'm telling you stuff you already k

[2020-04-30 17:17] gissoo commented on #579
- @rlskoeser @thatbudakguy Thanks for writing. I was trying to look at the books URL to get to a circulation table on the test site and can't access it, my vpn is on.
But I understand the problem here, thanks for providing all the explanations. I think this truncation works, can we use "..." as an indication?

Nick also has written this, above:

- Are we still specifically talking about adding the

[2020-04-30 18:10] jkotin commented on #80
@i-davis thank you for this.  I'm going to wait on a full response until I hear what @rlskoeser thinks.  I hadn't ever consider the following scenario (scenario 1):

John Smith joins on 5/1/20 for one month, renews on 6/5/20 for one month, and renews again on 7/3/20 for one month.  What is the correct membership timeline? 5/1/20 to 8/1/20 or 5/1/20 to 8/3/20?  I'm not sure we can know.

Whereas, w

[2020-04-30 18:53] rlskoeser commented on #80
Yes, @i-davis thanks for investigating this so thoroughly.

I also had not considered scenario 1! I agree, it's not clear we can determine for sure what the correct membership timeline is — which indicates to me that looking through the records and revising those dates should be handled manually (e.g., those rare cases where the notes tell us exactly what the dates were).

Scenario 2 seems pretty

[2020-04-30 18:59] rlskoeser commented on #80
@jkotin I just queried my local dev database to get a sense of scale and my query only found 13 records where the purchase date doesn't match the start date. That's much lower than I expected, and seems like not a big deal to adjust the dates if needed. I think the more important functionality is splitting out the purchase date so you can enter them properly.

[2020-04-30 19:08] jkotin commented on #80
@rlskoeser I do think months is right, not days, and that it's OK to clean up in production.  @i-davis would you let us know if you agree months v. days.

Re: same day v. day after.  I think same day is right, but I'd also like to hear what @i-davis thinks. I'm less sure of this.

[2020-04-30 19:15] jkotin commented on #80
@rlskoeser would you clarify re: "only found 13 records where the purchase date doesn't match the start date"? Is that only 13 examples of scenario 2?  I also had expected many more!

We should also remember -- as @i-davis knows well! -- that there is often a slight discrepancy between renewal dates on the cards and in the logbooks. My sense is that the dates in the logbooks are accurate -- that's

[2020-04-30 19:17] i-davis commented on #80
@rlskoeser @jkotin :

I agree re months over days!

& I'd vote same day, if I'm understanding correctly: subs go 1/1 to 2/1, then 2/1 to 3/1, then 3/1 to 4/1, and so on. Is that what you mean?

[2020-04-30 20:08] i-davis commented on #80
@jkotin -- I'm wondering if I was clear enough about the problem with not being able to tell the difference between a lapsed subscription and a belated renewal, and why that matters. Sorry to go on, especially if you already knew this and I was overexplaining in the first place!

The first Arnavon example is a belated renewal, where Arnavon purchases a renewal a full 40 days after her last subscri

[2020-04-30 21:04] rlskoeser commented on #80
@jkotin the 13 number was based on a query I ran to check for subscriptions where the purchase date didn't match the subscription start date — meaning the data migration adjusted the start date. It seems likely there probably are more of subscriptions that should be adjusted, but apparently not very many that my code could identify and adjust.

@i-davis thank you for the helpful terminology! Lapse

[2020-04-30 21:04] #80 closed

[2020-05-04 13:38] gissoo opened #581 "Design a card gallery page for books"

[2020-05-04 19:32] thatbudakguy commented on #187
upgrading this to a 5 since I hadn't been thinking about how to implement it to work without js - which it will need to do, so that the correct options are already rendered when the page is initially loaded.

[2020-05-05 14:25] rlskoeser opened #582 "re-enable books links in menus and remove login restrictions"
## notes for testing
- books link should be active and clickable in main menu and not marked as pending
- books link should be active and clickable in footer menu and not marked as pending
- check that all book pages (search + browse,  individual book bibliography page, circulation) can be accessed when not logged in
- book titles in member borrowing activity and card detail should link to book bi

[2020-05-05 15:01] gissoo commented on #581
@jkotin Here are designs for this issue:
[Mobile](https://app.zeplin.io/project/5c48e7313d2b13bf7fc9fe14/screen/5eb17a545b977d1a1d481b42)
[Tablet](https://app.zeplin.io/project/5c48e7313d2b13bf7fc9fe14/screen/5eb17a544d7b4a1db9e933b9)
[Desktop](https://app.zeplin.io/project/5c48e7313d2b13bf7fc9fe14/screen/5eb17a53fea79a1afa0b5c8b)

Please let me know your thoughts.

[2020-05-05 16:41] gissoo commented on #580
@jkotin @rlskoeser referring back to your question about the hint text inside the search box [here](https://cdhprinceton.slack.com/archives/C2YJR4VF0/p1588207232008800)

Before, applying it on the designs, let's agree on the language first. I would propose these:
1. Search a keyword, phrase, book, or author
2. Search keywords, phrases, books, or authors

3. Search by keyword or phrase (including b

[2020-05-05 16:43] gissoo opened #585 "Add a design for when there is no "membership dates" on the member search + biography pages"

[2020-05-05 16:57] jkotin commented on #580
I'd be happy if we adapted 2: "Search titles, authors, keywords." I worry that "phrases" will make users think they can search the books themselves (i.e. full text versions). "Titles" seems better than "books" because a book is a general entity that includes titles, dates, authors, etc.

[2020-05-05 17:06] gissoo commented on #580
@jkotin I agree! Thanks for clarifying, this is helpful!
I actually agree with the order you have for the terms too, I initially thought it's generally more important for "keyword" to be the first term, but just figured out something about the non-mvp filters that proves otherwise.

[2020-05-05 17:11] jkotin commented on #581
@gissoo thank you!  Just to be clear: the card pictured will be the card with the book, the name under the card will be the member's name, and the date will be the start/purchase date of the event?

Some notes:

1. In the book search, when searching by date, we go newest to oldest. Should we do the same here?

2. Where will cards/events with no date go?  At the end, preferably.

3. Quite frequentl

[2020-05-05 17:16] jkotin commented on #581
For cards with the same item multiple times: could we show the card once, but list all the event dates in the caption? Thinking aloud.

[2020-05-05 18:24] rlskoeser commented on #365
Simpler than anticipated, downgrading from 2pt to 1.

No member has enough distinct ranges to require the excerpting logic in Gissoo's design, so I didn't implement it. (I'm not sure there are even any that go to three lines.)

[2020-05-05 19:11] rlskoeser commented on #580
I think keyword should be separate from titles, authors — they aren't the same kind of thing (we don't have a keyword field, and keyword there could still suggest full text).

- Do we want "author" or "creator" ?
- Does it make sense to mention issue/volume title (or does title cover that)?
- Does it make sense to include the public notes ? (or not common/clear enough)

What about:
- Search by key

[2020-05-05 19:16] jkotin commented on #580
"Search by title or author, or by keyword" -- that is fine with me, although still a little complicated. Or "Search by author, title, or keyword."  I'd like to keep it simple.  I think "author" is better than "creator," and don't think we need to mention volume or notes.

[2020-05-05 19:17] rlskoeser commented on #580
I'm fine with that

[2020-05-05 19:27] rlskoeser commented on #580
If we're simplifying, do we need to include "keyword"? What does it add?

[2020-05-05 19:29] gissoo commented on #580
@rlskoeser @jkotin Thank you for writing! I agree with and prefer: "Search by author, title, or keyword."

@rlskoeser I think "keyword" to me is useful, because it implies that you can also search something like "soviet" and it doesn't have to be an exact book title or author name.

[2020-05-05 19:33] jkotin commented on #580
I like this too: "Search by title, author, or keyword." Feel free to implement. At the risk of over complicating, I don't think the OR is necessary.  Just "Search by title, author, keyword."

[2020-05-05 19:34] gissoo commented on #580
@jkotin I think the "OR" is actually helpful – I had included the OR as well but didn't know how to justify it, I think from what @rlskoeser mentioned about it being different from the other two terms, it makes sense to have the OR.

[2020-05-05 19:39] rlskoeser opened #587 "As a content editor, I want to edit the homepage tagline so that I can update it when necessary."
## notes for testing
Edit the homepage in wagtail and change the "search description" in the 'promote' tab — your changes should be reflected on the homepage.

[2020-05-05 19:44] gissoo commented on #581
@jkotin @rlskoeser From the conversation during our meeting earlier today (May 5, 2020), we agreed to:

- order the cards by oldest-newest circulation date
- cards with missing dates appear at the end/last
- allow cards that hold more than one event repeat on the card gallery page to avoid the complexities with displaying multiple event dates

[2020-05-05 19:47] gissoo commented on #581
Yes!

[2020-05-05 19:47] gissoo commented on #581
@jkotin @rlskoeser From the conversation during our meeting earlier today (May 5, 2020), we agreed to:

- order the cards by oldest-newest circulation date
- cards with missing dates appear at the end/last
- allow cards that hold more than one event repeat on the card gallery page to avoid the complexities with displaying multiple event dates

[2020-05-05 20:30] jkotin commented on #580
That's fine with me!

[2020-05-05 20:30] #580 closed

[2020-05-05 20:31] jkotin commented on #581
I agree!

[2020-05-05 20:35] gissoo commented on #580
@jkotin Here are the designs on the book search page reflecting what we agreed with the language:

[Desktop](https://app.zeplin.io/project/5c48e7313d2b13bf7fc9fe14/screen/5c8c155383d1b52501ceb39b)
[Tablet](https://app.zeplin.io/project/5c48e7313d2b13bf7fc9fe14/screen/5c911523c4045605c4595376)
[Mobile](https://app.zeplin.io/project/5c48e7313d2b13bf7fc9fe14/screen/5c911524d12e87057b1faafc)

[2020-05-05 20:43] gissoo opened #588 "Replace the breadcrumb home icon with the breadcrumb shakespeare icon on the third and fourth level pages to shorten the breadcrumb"
[Home icon breadcrumb not showing up on “Activities”, "Circulation" and “Cards” tabs (on third level pages) – instead the “home” with the logo icon is shown on all pages.
](https://app.zeplin.io/project/5c48e7313d2b13bf7fc9fe14/screen/5e8b9985eae3c91ee509b86d)

-  Level of importance: This will be helpful to have since the breadcrumb does get long on the third and fourth level pages, but is not cr

[2020-05-05 20:47] gissoo opened #589 "Highlight the selected search filters on the "Member" page on mobile to make it more easily visible to the user"
[The menu items on mobile are not highlighted in green when selected](https://app.zeplin.io/project/5c48e7313d2b13bf7fc9fe14/screen/5de94a31aac7327f1f9ef8af) – would be really great if they did.

- Level of importance: This is important because it really helps the visibility on mobile of what is selected and what is not.

[2020-05-05 20:50] jkotin commented on #580
Looks great!

[2020-05-05 20:57] gissoo opened #590 "Apply the styles for finding aids and copyright icons on the card gallery and card image viewer pages to make it clearn that they are interactive"
[The finding aids and the copyrights – whichever is a link – do not have the link style that was agreed upon.](https://app.zeplin.io/project/5c48e7313d2b13bf7fc9fe14/screen/5de686bfd9cb7d4889f57ba7)

Applies to all the card gallery + card image viewer pages:
- [Member Card section on Zeplin](https://app.zeplin.io/project/5c48e7313d2b13bf7fc9fe14?seid=5de68c9ac7d1c5571b1ec480)

- [Book Card section

[2020-05-05 21:02] gissoo opened #591 "Make the text inside the breadcrumb horizontally centered to make it look visually correct"
All the text inside the breadcrumb containers are still off-centered – any way to fix that so they are horizontally centered?

- Level of importance: It's just killing me visually, may not be noticed by the user, the user may not be affected in any way.

[2020-05-05 21:03] gissoo commented on #581
@jkotin Please let me know if you have any other concerns, otherwise, I think we can close!

[2020-05-05 21:05] #581 closed

[2020-05-06 13:36] rlskoeser commented on #526
@jkotin what dates exactly do you want to display here? If we do subscriptions only, we will miss dates when we know someone was active based on borrowing events, but if we include borrowing events without a subscription it will be too many different small ranges.

My plan was to just display the aggregated date ranges we're already using for the membership timeline chart, but for someone who with

[2020-05-06 14:11] rlskoeser commented on #526
@jkotin I think the simplest thing is probably to display subscription periods, but I don't know how we label it to make it clear why that might not match the timeline.  I could see collapsing borrowing activity (or really, any date range) with small gaps (maybe less than a week), but still not sure how much that will help.  I'd prefer not to spend a lot of effort on cleaning up this information f

[2020-05-06 15:08] jkotin commented on #526
@rlskoeser I would be happy only displaying years.  That's exactly the kind of info that is perfect in the member overview page: a general sense of when they used the lending library.  We could change the label to "Membership Years." Would this make more or less work for you and your team?

[2020-05-06 15:41] rlskoeser commented on #526
@jkotin just displaying the years is less work, I've already implemented a solution for that on the members search and browse page that I can adapt.

@gissoo any concerns about this change (displaying membership years on the member biography page instead of actual dates)? Should we create a chore or add to your list so you can update the designs to match?

[2020-05-06 16:33] clmahoney commented on #365
- YES, on the member search page I see that dates have gaps now. See M. Alexandre on the site now:
![Screen Shot 2020-05-06 at 12 24 11 PM](https://user-images.githubusercontent.com/16673934/81202591-d6ce5680-8f94-11ea-9976-6cca36332eb3.png)
and on the test site:
![Screen Shot 2020-05-06 at 12 24 17 PM](https://user-images.githubusercontent.com/16673934/81202612-dcc43780-8f94-11ea-805f-36e055b28cf

[2020-05-06 16:34] #365 closed

[2020-05-06 16:41] clmahoney commented on #587
- YES this works! I was able to go to the homepage on wagtail, go to the "promote" section, and change the search description tag. I could see it immediately once I published it. I couldn't see it in preview, though, it says Bad Request (400).

[2020-05-06 16:41] #587 closed

[2020-05-06 16:48] clmahoney commented on #582
- YES, I can click on the books link in the main menu
- YES, I can click on the books link in the footer menu
- YES, I logged out and then went to explore the book page. I was able to use the search bar, click through the individual book detail pages, see the circulation of the book on the individual book detail page, and also filter by circulation dates
- YES, if I click through the member page t

[2020-05-06 16:48] #582 closed

[2020-05-06 17:05] rlskoeser commented on #587
That bad request concerns me, it isn't happening in production. Let me take a look.

[2020-05-06 17:17] rlskoeser commented on #587
Ok, discovered that it was caused by the wagtail site configuration, which wasn't changed the last time we copied over data from production. Not a cause for concern with this feature.

[2020-05-06 17:37] gissoo commented on #526
@rlskoeser @jkotin Thanks for writing. I agree, displaying all the dates suddenly seems like such a duplicate here – Displaying years of all activities would be good (if that is what you're agreeing on above), however please **let's not** call it "membership dates" or "membership years" – we have used the term "membership" elsewhere to explicitly communicate only the subscription activities of ind

[2020-05-06 17:43] rlskoeser commented on #526
It's called membership dates on the members list page; we should probably use the same label in both places.  I think membership is much clearer and quickly comprehensible in terms of what we want to communicate.

My sense was that we were using membership to communicate participation in the library, not strictly subscriptions — my presumption is that, for the majority of members, if we have borro

[2020-05-06 17:52] thatbudakguy commented on #588
i thought that we didn't need to do this on desktop, since we nearly always have space for the word "home"? it should get replaced with just shakespeare's face on mobile for sure.

[2020-05-06 17:56] gissoo commented on #526
@rlskoeser I don't think what you are saying above be "membership" of a sort.
What I meant in my comment earlier is I don't think "membership" makes sense in either of these pages (biography and search results) – We are currently using "membership" strictly to mean "subscription" and "renewing" and "reimbursing" activities on the membership activity tab, which I think makes the most sense language

[2020-05-06 18:04] rlskoeser commented on #519
Downgrading to 1pt since we're able to take advantage of previous work for displaying issue/volume information.

[2020-05-06 18:10] gissoo commented on #588
I wouldn't mind if it is applied to all devices – but don't feel strongly either – only on mobile would be the minimum level of action taken on this, agreed it's more urgent on mobile!

[2020-05-06 18:19] jkotin commented on #526
Maybe the membership timeline makes the "membership dates" unnecessary.  I like it nonetheless -- it provides a very fast way to understand when a member used the library.  Users will want to know that Jane Smith used the library in 1933 and not 1922, e.g.

"Active Member" would be OK phrase.  "Membership Years" is likely the clearest.

[2020-05-06 18:21] gissoo commented on #526
@jkotin thanks for writing – I was proposing "Active Years" or "Activity Years" or "Years Active" – I don't think "Active Member" makes sense for displaying the years.

[2020-05-06 18:22] jkotin commented on #526
"Years Active" is great with me!

[2020-05-06 18:29] jkotin commented on #526
On second thought, will "years active" make sense in context?  I worry users will think "active" at what?  Especially when the dates are so close to the birth-death years.  I like keeping "membership" so everything is clear.  As @rlskoeser notes, we use the term in a non-technical way to indicate when a person was an active part of the lending library community.  A lot of members didn't buy member

[2020-05-06 18:33] gissoo commented on #526
@jkotin As I have noted above I'm worried that for individuals who have not been working on this project it gets confusing – Is this information exactly the same as the information in the "Membership Activity" tab? That tab includes information about "Subscription", "Renewing", and "Reimbursement" activities and nothing else, hence it's called "membership" – I need to point this out since we have

[2020-05-06 18:46] jkotin commented on #526
I hear you.  I think users will understand "membership activity" as encompassing all activities related to membership, i.e. renewals, reimbursements, etc. I think users will understand "membership years" as encompassing all the years they borrowed books from the lending library.

Maybe this isn't perfect, but I'm still convinced it's the best option. I can also see the argument for not including t

[2020-05-06 18:49] rlskoeser commented on #526
@jkotin I agree with you — I think "years active" is too vague.

Timeline and membership years are based on the same data.  Same information, presented two different ways, with differing granularity. (We _could_ filter them differently, but I wouldn't advise it.)

[2020-05-06 18:52] jkotin commented on #526
All good!  (I'm happy/relived re: timelines and membership years!)  Let's go with "Membership Years" for now.

I can imagine a future time in which we place the information in membership years closer to the timeline, but I'm very happy with this layout now.

[2020-05-06 18:52] gissoo commented on #526
@jkotin I think it's important for it to be on the search results because there is a filter for it and it would be nice to see the years there if someone is using the filter – it does add more context

@jkotin @rlskoeser I'm not convinced yet! But since you're both on the same page there isn't much I can do right now other than letting it go :D – happy to wait and see what users will think in the

[2020-05-06 19:06] gissoo opened #593 "Update the Member search results page so that the "Membership Dates" becomes "Membership Years""

[2020-05-06 19:06] gissoo opened #594 "Update the Member Biography page so that the "Membership Dates" is "Membership Years" and field only consists of the years"

[2020-05-06 20:30] rlskoeser commented on #588
It was already working properly on mobile, and I had already adapted that existing style from mobile to be applied when there are four breadcrumbs before you two discussed this.

I think it does help - even though we have space for it on desktop, that's a lot of text.

@gissoo test site is updated with my change, do you want to review and sign off?

[2020-05-06 20:31] rlskoeser commented on #591
@gissoo I tweaked the styles a bit, would you look at the test site and see if this is any better?

[2020-05-06 20:49] gissoo commented on #591
@rlskoeser OMG!!! You're AWESOME!! Thank you!! This is great!!!

[2020-05-06 20:50] #591 closed

[2020-05-06 20:52] gissoo commented on #588
@rlskoeser Thank you!! It looks SO much better now!! You're awesome!

[2020-05-06 20:52] #588 closed

[2020-05-06 21:08] rlskoeser opened #596 "convert data export field names to use underscores instead of spaces"
## testing/review notes
Check that field names in CSV and JSON for all exports now use underscores instead of spaces; sanity check that data still looks correct.

[2020-05-06 21:10] rlskoeser opened #597 "Include membership years in member export and circulation years in book export"
## testing notes
- Check that the member export now includes a `membership_years` field that lists all years a member had activity
- Check that the book export now includes a `circulation_years` field that lists all years a book circulated

[2020-05-06 21:39] gissoo commented on #579
@rlskoeser @thatbudakguy I know RSK and I briefly talked about this issue, however since I didn't get explicit responses from you on here about my comment, I took a stab with the designs here based on my proposal in my previous comment, please let me know what you think.

[Designs are here.](https://app.zeplin.io/project/5c48e7313d2b13bf7fc9fe14/screen/5eb32cc172876a4ea81c94bc)

[2020-05-07 02:56] clmahoney commented on #526
- YES, if I go to a member detail page I see the active "Membership Years" in a list form. Ex: Killen:
![Screen Shot 2020-05-06 at 10 53 59 PM](https://user-images.githubusercontent.com/16673934/81249433-939fd200-8fec-11ea-9d65-849a1363ccac.png). Ex: Hemingway:
![Screen Shot 2020-05-06 at 10 55 10 PM](https://user-images.githubusercontent.com/16673934/81249503-c4800700-8fec-11ea-9c25-e7bb74332b94.

[2020-05-07 03:03] clmahoney commented on #519
- YES, if I go to the member borrowing activity page for a member that has borrowed either a multivol book or a periodical with issue noted, I DO see the volume or issue under the main text title. Tried with Rolland, who borrowed a couple of the Pilgrimage books:
![Screen Shot 2020-05-06 at 10 58 54 PM](https://user-images.githubusercontent.com/16673934/81249858-b088d500-8fed-11ea-840b-2dbf8a68022

[2020-05-07 03:03] #519 closed

[2020-05-07 13:44] #526 closed

[2020-05-07 13:48] rlskoeser commented on #579
@gissoo thanks for working on these. I think putting the dates on a separate line will simplify the layout substantially, but I'd like to hear what @thatbudakguy thinks.

Could you add a few more variations to the design so we can see how they look and all be clear on the specifics?
- at least one single-day event like a purchase
- at least one event with no issue/volume information

Have the desk

[2020-05-07 14:42] rlskoeser opened #598 "Update meta description content for dynamic member and book pages"
## notes for testing
Put test site urls into the [twitter card validator](https://cards-dev.twitter.com/validator) to see how they will display. The title and text under the title comes from page metadata; not all pages have the secondary text (description).

Please check:
- members search & browse
- individual member pages: biography, membership activity, borrowing activity, card list, individual

[2020-05-07 14:46] thatbudakguy commented on #579
agree that putting them on separate lines would make it substantially simpler. i think the designs imply this, but we would need to set a hard limit (e.g. 50%) on the size of either column in order for the layout to work. I believe it can then be accomplished with floats.

[2020-05-07 16:28] gissoo commented on #579
@rlskoeser Thanks for writing. Sure I'll revise to include the variations you have mentioned above, that's helpful thanks for listing them!

@rlskoeser The design on desktop and tablet have not changed. However, I included them especially because now I have made sure the information presented is consistent throughout all devices: I have added a third row/person to complete the variations with date

[2020-05-07 18:06] rlskoeser commented on #577
@clmahoney would you provide more examples?  What is the one card that has events from several different people?

@jkotin you still want blank cards associated with a members card to show, right? how would you expect the cards to be ordered?

[2020-05-07 18:09] gissoo commented on #585
Here are the designs that correspond with the goal of this chore:
- [Desktop ](https://app.zeplin.io/project/5c48e7313d2b13bf7fc9fe14/screen/5c915c5d29ec4e062d4af7bc)
- [Desktop scrolled](https://app.zeplin.io/project/5c48e7313d2b13bf7fc9fe14/screen/5c928b99bad60f05a51d7dfa)
- [Tablet](https://app.zeplin.io/project/5c48e7313d2b13bf7fc9fe14/screen/5c915c5d35ff390de8a81e0e)
- [Tablet scrolled](https

[2020-05-07 18:09] #585 closed

[2020-05-07 18:12] jkotin commented on #577
Yes re: blank cards if recto of the blank card has relevant member info. The relevant side should be first.  That's actually related to an issue I've been meaning to ask about w/r/t the verso of the Leibowitch. Right now, it's displaying in the wrong order for everyone but Leibowitch. E.g. https://shakespeareandco.princeton.edu/members/nguyen-minh-truyel/cards/. Could we order where appropriate?

[2020-05-07 18:12] gissoo commented on #593
The pages below are updated for this chore:
- [Desktop ](https://app.zeplin.io/project/5c48e7313d2b13bf7fc9fe14/screen/5c915c5d29ec4e062d4af7bc)
- [Desktop scrolled](https://app.zeplin.io/project/5c48e7313d2b13bf7fc9fe14/screen/5c928b99bad60f05a51d7dfa)
- [Tablet](https://app.zeplin.io/project/5c48e7313d2b13bf7fc9fe14/screen/5c915c5d35ff390de8a81e0e)
- [Tablet scrolled](https://app.zeplin.io/proje

[2020-05-07 18:18] jkotin commented on #587
This works beautifully.  Thank you for asking me to check it @rlskoeser

[2020-05-07 18:20] #593 closed

[2020-05-07 18:29] gissoo commented on #594
– All pages under the [Member Biography section](https://app.zeplin.io/project/5c48e7313d2b13bf7fc9fe14?seid=5de68c26325c9e534e3f1dbb) have been updated.

[2020-05-07 18:30] #594 closed

[2020-05-07 18:39] rlskoeser commented on #577
@clmahoney never mind, I remembered you already wrote up a document with these!

[2020-05-07 20:43] gissoo commented on #579
@rlskoeser @thatbudakguy [Here are the revisions](https://app.zeplin.io/project/5c48e7313d2b13bf7fc9fe14/screen/5eb32cc172876a4ea81c94bc), you can see the variations you were asking for in the mobile design for the "Psychology of Sex" – also included more variations with the volume/issue content.

@thatbudakguy I have made a comment about the hard limit for the size of the columns on mobile in % –

[2020-05-07 20:50] gissoo opened #600 "Make all the link styles 2px wide"
There are currently more content on the site that are "links" and need the link styles since the last time I focused on link styles. The link styles on the site are all too thin now and barely visible – the original link styles won't work either since they are too thick.

Please make them 2px wide instead of what they are now. (It would be visually between the current and the original versions). [

[2020-05-07 20:52] rlskoeser commented on #579
@gissoo thanks for your work on this and for adding more variations.

For the purchase on mobile, shouldn't we only display one date? It seems confusing to display it as a range.

@gissoo Will this look unbalanced on mobile if there is _no_ issue/volume information? I think that's likely to be the case for the majority of borrowing events. For an example, see [circulation for Portrait of the Artis

[2020-05-07 20:55] rlskoeser commented on #600
@gissoo what browser were you on when you noticed this? Asking because I primarily use Chrome and the underlines are much thinner, I think since @thatbudakguy switched to use the text-underline style that skips descenders (I think he noted at the time that the underline thickness can't be styled on chrome). It does seem like a concern that the underlines are so thin.

[2020-05-07 20:57] gissoo commented on #600
@rlskoeser Interesting – I've been on Firefox.

[2020-05-07 21:04] rlskoeser commented on #579
@gissoo actual numbers to help you: we have 22,285 events in the database associated with a work (e.g. borrows, purchases, etc) but currently only 439 with an edition (issue/volume) specified. That number will go up some as the team keeps working on it, but it's a very small proportion (just under 2%).

[2020-05-07 21:08] gissoo commented on #579
I did this on purpose – I think it can be helpful and more specific and less likely to be overlooked by users – Especially since they are both shown on other devices. Not sure yet, happy to think more and come back to it.

@rlskoeser I already have a variation with no vol/issue example in the designs for one row.
Do you mean showing an entire page with no volume/issue information? – I think it wil

[2020-05-07 21:13] gissoo opened #601 "Make all second and third level headings title case + change all "membership dates" to "membership years" + change all "membership activities" to "membership" in the breadcrumb"

[2020-05-07 21:14] gissoo opened #602 "Make sure the Zeplin styleguide only consists of colors that are agreed to be used"

[2020-05-07 21:15] rlskoeser commented on #579
@gissoo yes, I think it would be useful to see an entire page with no volume/issue information. If you think it looks fine, that's great! I don't really want to revise it at this point, I just wanted to be sure, since that's what the majority of pages will look like.

I think displaying purchases as a range (when we know it is a single date) seems more likely to be overlooked when scanning the pag

[2020-05-08 03:00] clmahoney commented on #264
- YES, if I go to a book detail page, I always see the card tab present on the far right no matter if I'm on the bibliography page or circulation page.
Biblio:
![Screen Shot 2020-05-07 at 10 46 05 PM](https://user-images.githubusercontent.com/16673934/81364829-9b2aae00-90b4-11ea-8a29-0b9707c0586f.png)
Circulation:
![Screen Shot 2020-05-07 at 10 46 14 PM](https://user-images.githubusercontent.com/1

[2020-05-08 13:13] rlskoeser commented on #264
@clmahoney wow, good catch on that last one — it looks like it only happens on smaller screens with the event close enough to the top that the anchor link actually puts it at the top of the page. It's getting hidden under the table header row at the top of the page. I've run into this before, there should be a way to adjust the styles to push the anchor link so it clears the header.

@jkotin pleas

[2020-05-08 16:03] clmahoney commented on #596
Sorry @rlskoeser but can you give me an example of a field name so I know where to look?

[2020-05-08 16:10] rlskoeser commented on #596
Ha, sorry @clmahoney ! By field name, I mean the labels of the fields in the data: that is, the header row in the CSV files, and the text before the `:` in the JSON files.

[2020-05-08 16:26] clmahoney commented on #596
I feel like I'm still not looking in the right place but I don't see any spaces OR underscores!

[2020-05-08 16:47] clmahoney commented on #597
- NO, when I opened the member CSV and JSON in OpenRefine I can't see a "membership years" field
- NO, when I opened the book CSV and JSON in OpenRefine and I also can't see a "circulation years" field

Maybe the old exports are in the export folder??

[2020-05-08 17:13] rlskoeser commented on #597
@clmahoney I'm so sorry, I don't see them either! I must have given you the wrong version of the files! 😞

[2020-05-08 18:21] rlskoeser commented on #597
@clmahoney I generated a [new set of exports](https://drive.google.com/drive/u/0/folders/18WVkpMbVwRREpV19GUR6A6ZGfmfc4-hX), please use them for testing this.

[2020-05-08 18:22] rlskoeser commented on #596
@clmahoney So sorry I gave you the wrong version of the exports, you're right that there weren't any underscores! Here is a [new set of exports](https://drive.google.com/drive/u/0/folders/18WVkpMbVwRREpV19GUR6A6ZGfmfc4-hX) that actually reflect the change I wanted you to check.

[2020-05-08 19:04] clmahoney commented on #597
@rlskoeser no problem! Thank you for updating!

[2020-05-08 19:10] clmahoney commented on #596
- YES, I checked that the field names in all data exports in both CSV and JSON formats have underscores instead of spaces!

[2020-05-08 19:10] #596 closed

[2020-05-08 19:15] clmahoney commented on #597
- YES, the members export has "membership_years" as one of the fields in both CSV and JSON!
- YES, the book export has "circulation_years" as one of the fields in both CSV and JSON!

[2020-05-08 19:15] #597 closed

[2020-05-09 18:27] jkotin commented on #264
This looks wonderful!  Two notes, only the first of which might be relevant.

1. On the page for _A Farewell to Arms_, an undated card (Monica Stirling) appears first. Ditto for the _Ulysses_ page.  (The cards have a month, but not a year.)

2. My expectation when using the feature: when I clicked on a card, I'd see a large version of the card, and not the list of items borrowed.  (I expected to b

[2020-05-11 14:21] rlskoeser commented on #264
@jkotin thanks for the feedback.

I understand what you mean in terms of expectations and seeing the card image. If you had to choose between seeing the card image and having the title highlighted in the activity page, which is more important to you?

@gissoo would you read Josh's comment #2 above and try the feature on the site and weigh in on how you think it should behave?

@jkotin in regards t

[2020-05-11 15:20] jkotin commented on #264
Thank you @rlskoeser -- I would choose seeing the card image, but I'm open to different points of view here.  Thank you too about sorting dates with an unknown year last.

We are on the same page re: Pilgrimage.  It's actually easier to revert here than make all the other series into multivolume works.

[2020-05-11 15:59] gissoo commented on #264
@rlskoeser @jkotin thanks for writing – here are my responses:

On this particular part of the site (book cards), the page (for Monica Stirling) currently loads to view the highlighted row rather than the large card image. This is because this row of the borrow details for _"A Farewell to Arms"_ is the main point of the page, the reason this card of Monica Stirling exists in this book's card galle

[2020-05-11 17:06] rlskoeser commented on #264
@jkotin are you ok with this solution now that @gissoo has explained more?

Thank you @gissoo for addressing the second part of Josh's point which I forgot to answer — you explained it better than I would have!

[2020-05-11 17:17] jkotin commented on #264
Thank you @gissoo and @rlskoeser. My worry is that users won't know to scroll up.  But I'm OK with signing off on this if you don't think that will be a problem.

Re: card browse. I understand. This might be something for long term wishlist.

[2020-05-11 20:57] gissoo commented on #264
@jkotin Because of the style of pages on the site and the expectation it creates as far as the content that appear on the top on all pages I'm confident they will know to scroll up, this is a point that is useful to keep in mind as more users will be using the site, I'll keep it in mind.

[2020-05-11 22:11] gissoo commented on #579
I revised the designs and included a screen with no vol/issue info. It looks okay to me, but here is one thought/proposal: Is there a way to put the end date on the same line as the start date for when there is no vol/issue info? – That might help it look more balanced in this case.

Thanks! I agree, I have revised it. It is also a single date for the other cases.

[here are the designs](https://a

[2020-05-12 13:31] rlskoeser commented on #579
@gissoo thanks for revising and adding an example with no issue/volume information. It looks a little unbalanced to me, but I'm glad to hear you think it's ok.

I think putting the end date on the same line as the start date when there's no edition information would be too complicated — there are just too many different cases to handle (issue/no issue, missing start date, missing end date, missing

[2020-05-12 13:44] gissoo commented on #579
@rlskoeser That makes sense! Thanks for writing. (I also suspected that strongly but had to see what you think) – I think we shouldn't sacrifice the readability of the vol/issue info for how balanced/unbalanced the page looks. I think it's worth giving the second column its space. I really didn't like how tight it looked (the vol/issue column).

[2020-05-12 14:17] thatbudakguy commented on #579
@gissoo when you say "I really didn't like how tight it looked", how tight are you thinking? As I mentioned earlier, we will need to choose a percentage that the volume/issue column gets to take up, regardless of the size of the text in it. i think if we always put the dates on separate lines, we can afford to give the volume/issue column 50% or more of the record, but if we don't do that things c

[2020-05-12 14:27] gissoo commented on #579
@thatbudakguy Thanks for writing.
I had made decisions and shared designs last week and asked you what you thought, [in this comment above](https://github.com/Princeton-CDH/mep-django/issues/579#issuecomment-625486913). Please take a look and let me know. This is the best option UX-wise.

[2020-05-12 14:33] thatbudakguy commented on #579
@gissoo I'm happy with the version you shared, which looks like it gives the volume/issue info portion 50% of the space - was asking because I didn't know which thing you were referring to when you said it looked too tight.

[2020-05-12 14:41] rlskoeser commented on #579
@thatbudakguy I assumed it was my implementation that was too tight, where I squeezed the issue/volume column to make sure it didn't overlap with the dates.

[2020-05-12 14:48] gissoo commented on #579
@thatbudakguy I was referring to the vol/issue information – and then RSK mentioned that what I'm proposing might make the layout unbalanced for when there is no vol/issue info, so I was saying I still prefer what I'm proposing because in this version the vol/issue info is not too tight like how it is now on the site. (And it's really the dates being on two lines that make it look unbalanced more

[2020-05-12 14:48] rlskoeser commented on #577
@clmahoney this is on the test site now, but I don't know how easy it is to test until I refresh the data from production — the example I was looking at (Natalie Wilson) didn't show the  additional card. Although, I suppose you could test the functionality fairly easily by adding a footnote for one member and linking to a different card — it should show up.

A note on ordering: I came up with a wa

[2020-05-12 14:56] rlskoeser commented on #264
@clmahoney please test/review the changes I made based on the first round of testing:
- cards with partially known dates (unknown year) should sort last
- the mobile display for the selected title on the member card detail list has been corrected

Both @thatbudakguy and I looked at the problem you identified where the highlighted title shows under the sticky table header row, but we couldn't fix i

[2020-05-12 14:57] rlskoeser opened #605 "anchor link to table events can be hidden by sticky table header"
One observation: this only has happened once, but when I was searching for the "Life and Letters of Emily Dickinson" on Leo Stein's card, when I clicked the card where the event took place it highlighted the event but it was soooo far up at the top of the screen that at first I couldn't see it was highlighted at all. I tried to take a screenshot of it:
![Screen Shot 2020-05-07 at 10 47 36 PM](http

[2020-05-12 15:11] rlskoeser commented on #494
@gissoo did you ever add the image you created in #548 to the repository? I'm not finding it.

[2020-05-12 15:15] gissoo commented on #494
@rlskoeser Oh noo!! Should it be an svg? Or png?

[2020-05-12 15:16] rlskoeser commented on #494
@gissoo I think SVG would make sense

[2020-05-12 15:41] gissoo commented on #494
@rlskoeser Just added it! – Made minimal adjustments to the card sizes based on how they are calculated on the site right now.

[2020-05-12 16:11] clmahoney commented on #264
- YES, cards with unknown dates appear last in the display of all cards that have a certain work on them. I tested the two that Josh had checked: _A Farewell to Arms_ and _Ulysses._ Both had the unknown or partial dates at the end. Except something weird was happening with Ulysses in the book search: if I click the first Ulysses (1922) I get a page error. But then the next Ulysses (1934) is fine.

[2020-05-12 16:13] clmahoney commented on #264
@rlskoeser what am I testing for with the mobile display?

[2020-05-12 16:15] rlskoeser commented on #264
@clmahoney sorry I didn't document or screenshot the problem! I noticed that when there was a title highlighted, the spacing was off. (This is on the card detail page when you click through and a title is selected.) I think a basic sanity check that it looks ok would be enough here.

[2020-05-12 16:18] clmahoney commented on #264
OK I checked and the spacing seems fine to me!

[2020-05-12 16:18] #264 closed

[2020-05-12 16:30] clmahoney commented on #577
- YES, this works wonderfully! I tried with the two members  that show up on s2 of Leibowitz. When I added the Leibowitz footnote to the Leyris event and to the Denis event, viola! S2 of Leibowitz nows shows up on Leyris and Denis card display! I then tried with Natalie Wilson and Romer and IT WORKS!!!

[2020-05-12 18:05] rlskoeser commented on #569
@gissoo can this also include book detail the bibliography page or do you need a separate issue?

[2020-05-12 18:06] rlskoeser commented on #566
@gissoo same question as #560 — can this also include book detail/bibliography page or do you need a separate issue?

[2020-05-12 18:13] rlskoeser commented on #547
@jkotin does this apply to member search as well, or only book search?

[2020-05-12 18:16] rlskoeser commented on #590
@thatbudakguy I'm wondering if this broke when you switched to using `text-underline` — do we need to add back the border style for image links only?

[2020-05-12 18:17] jkotin commented on #547
@rlskoeser it's much more important for author searches, but would be great for members too.

[2020-05-12 18:28] rlskoeser commented on #522
@jkotin based on your comments, I made a list of notations that should have labels in the issue description — would you review and confirm that these are correct?

[2020-05-12 18:44] gissoo commented on #566
@rlskoeser There is already a separate issue for this [here](https://app.zenhub.com/workspaces/mep-django-5931d39e341d0d6c7318d56f/issues/princeton-cdh/mep-django/567) because there are different things to tackle on each page.

[2020-05-12 18:47] gissoo commented on #569
@rlskoeser There is also already a separate issue for this [here] :D (https://app.zenhub.com/workspaces/mep-django-5931d39e341d0d6c7318d56f/issues/princeton-cdh/mep-django/570) because there are different things to tackle on each page.

[2020-05-12 18:49] rlskoeser commented on #569
@gissoo thank you, glad to have the issues so I can include them all in the milestone.

[2020-05-12 19:06] gissoo commented on #579
@jkotin Please take a look at [the designs here](https://app.zeplin.io/project/5c48e7313d2b13bf7fc9fe14/screen/5eb32cc172876a4ea81c94bc) and let me know what you think.

You can focus mainly on the **mobile** screens. The design on mobile is revised so that:
- the start date and the end date are on two separate lines rather than all on one (due to complexities with developing the table layout on m

[2020-05-12 19:09] jkotin commented on #522
The list looks great. Do we want to include "strikethru" as well?  The term could be "crossed out." I still can't tell whether including the strikethrus makes sense or not.  I'm happy to follow your lead here.

[2020-05-12 19:16] jkotin commented on #579
@gissoo This looks great to me.

My one question concerns missing dates. In the Jean-Dominique Rey case, I assume that we don't have a start date, only a return date, hence the " – Mar. 17, 1967." Would it make sense to have an "unknown" or "?" as the start date as opposed to nothing?  I worry that users will think " – Mar. 17, 1967" is a mistake.

I'm happy to defer to you on this issue.

[2020-05-12 19:18] rlskoeser commented on #522
@jkotin happy to include it — I don't have a good sense of how meaningful it will be to people (do we even know what it means?), but including it allows us to share more information.

[2020-05-12 19:30] jkotin commented on #522
Sounds good, thank you @rlskoeser . I think the strikethru means that either 1/ the member changed their mind about the book and didn't take it out, or 2/ the clerk wrote down the wrong title. I agree with should include it.  "Crossed out" is probably the best phrase to use on the front end.

[2020-05-12 19:35] rlskoeser commented on #522
@jkotin great. I added it to the list.

[2020-05-12 19:40] gissoo commented on #579
@jkotin I really think it is clear enough as is, however I understand that a "?" might make it more explicitly clear. @rlskoeser What do you think? Is a "?" possible?

[2020-05-12 19:41] rlskoeser commented on #579
@jkotin @gissoo "?" is possible if we also display that in the table layout — would that be ok?

[2020-05-12 19:44] jkotin commented on #579
I vote a weak YES. Best to include the question mark.  The vote is weak because I would be happy to defer if either of you had a strong NO.

[2020-05-12 19:47] rlskoeser commented on #579
FWIW, implementation would actually be a lot easier to use the question mark and not have to selectively hide missing dates on mobile. I don't have a strong inclination in terms of which one is more comprehensible, although I do like that the question mark makes the missing data more explicit.

@gissoo does this change your design any? Is it still ok to have start and end dates on separate lines i

[2020-05-12 19:47] gissoo opened #606 "Revise the map search pages so that they are updated and match the rest of the site"
[Map search pages all currently here](https://app.zeplin.io/project/5c48e7313d2b13bf7fc9fe14?seid=5db217633cd0612c5d2598ec)

[2020-05-12 19:54] rlskoeser commented on #201
@gissoo there's a question from @thatbudakguy in the issue description, I'm not sure if this was ever answered:

[2020-05-12 20:20] gissoo commented on #579
@jkotin @rlskoeser thanks for writing!! Great! I definitely agree then! Yes it will be nice that it might be more explicitly clear this way. Thanks.

@rlskoeser No, it shouldn't change anything about the design. I'll just update the designs though.
Are we thinking the "?" is appearing on the circulation page on the all devices when a date is missing? Or just on mobile?

[2020-05-12 20:22] rlskoeser commented on #579
@gissoo the question mark _needs_ to be on all devices (that's what my question was about — can we display it in the table layout also).

[2020-05-12 20:33] gissoo commented on #579
@rlskoeser Sorry! I probably shouldn't be doing multiple things when reading these comments.
It makes sense to me that it will be on all devices.

So just testing this as you wrote: "Is it still ok to have start and end dates on separate lines if one of them is just a question mark?" [in this design](https://app.zeplin.io/project/5c48e7313d2b13bf7fc9fe14/screen/5ebb0768efce0a5ad7b5d351) @rlskoeser

[2020-05-12 20:39] rlskoeser commented on #579
This looks ok to me.

[2020-05-12 20:45] jkotin commented on #579
I agree that the second and third rows look strange.  The question mark, when split, might cause more confusion than it resolves.  I'm OK with it if we think that the question mark makes things clearer in desktop.  Otherwise, let's go back to the original plan.

[2020-05-12 20:49] gissoo commented on #579
@rlskoeser @jkotin Thanks for writing.

Rebecca, you mentioned "implementation would actually be a lot easier to use the question mark and not have to selectively hide missing dates on mobile." – is this also true about "unknown"? I think "unknown" as Josh had mentioned in his earlier comment might be more clear, thought it's worth to discuss this.

[2020-05-12 20:56] jkotin commented on #579
I prefer "unknown" if there's space for it.

[2020-05-12 20:57] rlskoeser commented on #579
@gissoo it's easiest if we don't have to change things too much between different views. I'm ok with "unknown" as long as we can use it on all screens.

[2020-05-12 20:58] rlskoeser commented on #579
@gissoo however.... how many other pages does this impact? If we have to do this on multiple pages it is a bigger change.

[2020-05-12 21:02] rlskoeser commented on #494
I have manually broken the image url for one of the Bertraud Fontaine cards on the test site so we can review this, since the problem was fixed.
https://test-shakespeareandco.cdh.princeton.edu/members/bertraud-fontaine/cards/

@gissoo do you want to review this first?

[2020-05-12 21:10] gissoo commented on #579
@jkotin there is space for it.

@rlskoeser I was thinking on all devices.

Okay, here is where I stand:
- I was thinking it will impact circulation pages (desktop, tablet, mobile)

- And then I thought about member borrowing activities (desktop, tablet, mobile) + membership activities (desktop, tablet, mobile) – unless you have a reason to think that it wouldn't be necessary to apply the "unknown"

[2020-05-12 21:15] jkotin commented on #579
I'm happy with any of these three options.  If we're still unsure, it would be helpful to see a mock-up of a desktop page with a lot of "unknowns."  It matters whether "unknown" would simplify other aspects of the project.

[2020-05-12 21:16] gissoo commented on #579
@rlskoeser @jkotin I forgot about the card image viewer page!

[2020-05-12 21:18] rlskoeser commented on #579
@gissoo thanks for listing all of those — it seems like we should treat unknown dates consistently across the site, and that feels like a lot of changes to me. I vote for keeping things as they currently are, nothing displayed for a missing date.

[2020-05-12 21:20] jkotin commented on #579
That's fine with me, and probably prudent.  Thank you all for thinking/seeing this through with me.

[2020-05-12 21:20] gissoo commented on #579
@rlskoeser I agree! I'm also still having mixed feelings about a desktop/tablet page with so many "unknowns".

[2020-05-12 22:47] clmahoney commented on #494
- YES, I see this card error image:
![Screen Shot 2020-05-12 at 6 46 16 PM](https://user-images.githubusercontent.com/16673934/81753067-faa40780-9480-11ea-99b9-a42f4fe3900f.png)

Should I close or should @gissoo review?

[2020-05-12 23:01] clmahoney commented on #434
- YES, when I merged Ellen Wright with Julia Wright, I saw Ellen's past slug on Julia's admin page:
![Screen Shot 2020-05-12 at 6 57 34 PM](https://user-images.githubusercontent.com/16673934/81753780-8c604480-9482-11ea-84d5-df27840bd16a.png)
- YES, all the tabs for Ellen Wright that I had open (biography, membership activities, borrowing activities, card list, and one card image viewer page) chang

[2020-05-12 23:03] clmahoney commented on #494
- YES, I still see the error image when I click on it and get a bigger view:
![Screen Shot 2020-05-12 at 7 02 36 PM](https://user-images.githubusercontent.com/16673934/81754070-3d66df00-9483-11ea-89d3-b1807f92f788.png)

[2020-05-12 23:07] clmahoney commented on #494
Mobile:
- YES, I see the error image when I'm on the broken link card display page:
![IMG_2087](https://user-images.githubusercontent.com/16673934/81754298-d72e8c00-9483-11ea-9e6c-9c2de134a155.PNG)

- NO, I do NOT see that same error image when I click on the card for a closeup:
![IMG_2088](https://user-images.githubusercontent.com/16673934/81754306-dbf34000-9483-11ea-87f1-a7b0fc4d5d48.PNG)

[2020-05-12 23:11] clmahoney commented on #494
Tablet:
- YES, I see the card image error on the card display
- YES, I also see the card image error when I click on the individual broken card

[2020-05-13 01:13] jkotin commented on #598
For a member with a single date:

<img width="661" alt="Screen Shot 2020-05-12 at 9 05 24 PM" src="https://user-images.githubusercontent.com/12616674/81760501-642e1100-9495-11ea-9637-943ce2915770.png">

[2020-05-13 01:14] jkotin commented on #598
Search results on books for "Africa":

<img width="661" alt="Screen Shot 2020-05-12 at 9 12 34 PM" src="https://user-images.githubusercontent.com/12616674/81760544-7f008580-9495-11ea-951a-6ba13913c370.png">

[2020-05-13 01:15] jkotin commented on #598
Clicking through from a book search for Portrait to a card:

<img width="661" alt="Screen Shot 2020-05-12 at 9 07 28 PM" src="https://user-images.githubusercontent.com/12616674/81760596-a0fa0800-9495-11ea-8ee6-976ff4342421.png">

[2020-05-13 01:15] jkotin commented on #598
@rlskoeser is it a problem that there was no preview image for the lending library card?

[2020-05-13 01:22] jkotin commented on #598
I did get a preview for https://test-shakespeareandco.cdh.princeton.edu/members/blaess/cards/601c5558-2dfd-47c4-a72d-50ad697c6a6e/.

<img width="661" alt="Screen Shot 2020-05-12 at 9 22 06 PM" src="https://user-images.githubusercontent.com/12616674/81760982-b6bbfd00-9496-11ea-8e65-ce2df3381902.png">

[2020-05-13 01:32] jkotin commented on #577
This looks good. A couple of issues that *might* be related. The verso of the Leibowitz card isn't showing on the test site. The Caillois cards are showing up correctly for Petitjean, but not vice versa.

<img width="1018" alt="Screen Shot 2020-05-12 at 9 29 11 PM" src="https://user-images.githubusercontent.com/12616674/81761314-a1939e00-9497-11ea-9102-bb8dd173e134.png">

[2020-05-13 01:37] jkotin commented on #577
I tried again and Leibowitz works now. Another question, only possibly related to the note from @rlskoeser about card order.  For the example in the screenshot below -- would it be possible to have the card side with the info about Minh show up first -- i.e. before the Leibowitz side?

<img width="1023" alt="Screen Shot 2020-05-12 at 9 34 55 PM" src="https://user-images.githubusercontent.com/12616

[2020-05-13 13:15] rlskoeser commented on #577
I think the order of cards on Truyel predated this change and is due to the order in the manifest — hoping @clmahoney can confirm.

I manually broke the second Leibowitz card image so we could test #494

I don't know what the data looks like for Caillois/Petitjean cards — @clmahoney are events and footnotes entered for these correctly so they should display in both places?

[2020-05-13 13:20] rlskoeser commented on #598
@jkotin I had problems where the twitter card validator wouldn't show the card image on the first try but it would on the second — I'm _hoping_ this is a problem on the twitter card validator side, because I'm pretty sure I am generating the correct image urls for these. I'm using PUL IIIF image urls, so they are a bit different from the other site images.

@jkotin does the title and description t

[2020-05-13 13:22] rlskoeser commented on #434
Ha, my instructions weren't detailed enough and that was a good thing to test.

So — the system _should_ allow you to re-use an old slug associated with the same record (e.g. if you merged and wanted to switch to one of the other slugs). That's probably a good thing to test if you haven't already (but I think you did?).

What it should _not_ allow is using a past slug from one member on a _differe

[2020-05-13 13:23] rlskoeser commented on #494
@clmahoney thanks for the careful testing and catching this — what mobile device were you using that showed this problem?

[2020-05-13 13:29] rlskoeser commented on #447
@thatbudakguy ok, so I messed with this long enough to a) remember what we did here and why and b) finally understand what is going on. We have a nonce set on the inline style, but the nonce for the ajax request is _different_ than the original page request, so it's not allowed.   What's more, `unsafe-inline` doesn't take effect if you have nonces turned on for style src.

I think the two options

[2020-05-13 13:33] rlskoeser commented on #577
Oh, I see now — the broken card feature in #494 isn't displaying properly on Firefox, which explains your screenshot.

[2020-05-13 13:51] rlskoeser opened #607 "update circulation activity mobile styles to match revised design"

[2020-05-13 16:06] jkotin commented on #598
I do think it would be great if @clmahoney would test.  She can close if everything looks good.  I'm not sure if I tried all the different pages.

The titles and descriptions are fine with me. I'm not sure what the options/parameters are. E.g. "Bernice Abbott / Shakespeare and Company lending library member 1926" might be better as "Bernice Abbott / Shakespeare and Company lending library member i

[2020-05-13 16:20] rlskoeser commented on #568
Revising to make this a dev task to adapt existing membership timeline chart.

[2020-05-13 16:40] gissoo commented on #569
RSK and I discussed – this issue has been consolidated with #566, and therefore it will be closed.

[2020-05-13 16:40] #569 closed

[2020-05-13 16:41] gissoo commented on #570
RSK and I discussed – this issue has been consolidated with #567, and therefore it will be closed.

[2020-05-13 16:41] #570 closed

[2020-05-13 17:12] rlskoeser commented on #494
I've updated the test site with changes to address Firefox and mobile display issues.

[2020-05-13 17:14] rlskoeser commented on #598
Thanks @jkotin.

I thought about the wording too, but it needs to work for one year, several years, or no years!

[2020-05-13 17:16] rlskoeser commented on #589
@gissoo this change is on the test site for you to review now

[2020-05-13 17:20] gissoo commented on #579
@jkotin @rlskoeser I think we reached an agreement on this issue to keep it as is.
@jkotin Please close the issue if you don't have any concerns.

[2020-05-13 17:22] #579 closed

[2020-05-13 17:31] rlskoeser opened #608 "sticky table header styles for activities display incorrectly on Safari"
![Screen Shot 2020-05-13 at 1.30.54 PM.png](https://images.zenhubusercontent.com/5931d36351aa2c3057804a51/dc342975-34f8-43c3-9ee4-6a1d6fef3c69)

[2020-05-13 19:34] thatbudakguy opened #610 "As a keyboard user, I want to be able to interact with the list of active search filters so I can easily edit my search."
**Describe the solution you'd like**
- list of active filters is tab-navigable when shown
- pressing space or enter will clear a filter

[2020-05-13 19:57] thatbudakguy commented on #187
bumping to 8 since we broke 1k lines of code on this feature!

[2020-05-13 20:26] clmahoney commented on #494
@rlskoeser I was using my iPhone 6s! I'll check this again now.

[2020-05-13 20:32] clmahoney commented on #494
Mobile:
- YES, I see the card image error on the card display, HOWEVER: it seems to not be aligned with the other working card image: ![IMG_2101](https://user-images.githubusercontent.com/16673934/81862187-503aeb80-9537-11ea-8eb0-bf0c5d09b8a4.PNG)
- YES, I see the card image error when I click on it to see it bigger

[2020-05-13 20:38] thatbudakguy commented on #201
whoa, we said this would be infinite scroll. that's not going to play nice with the currently paginated version...

[2020-05-13 20:38] thatbudakguy commented on #590
@rlskoeser that would make sense, yeah

[2020-05-13 20:53] clmahoney commented on #447
- YES, I checked on the member page and clicked through the pages (NEXT) a couple of times. Every time I went to a new section of names, the top numbers reflected that I had moved through many pages already. For example, clicking through twice, the first name (Baker, Dan) was 201, not 1. Clicking next again, the first name was now (Bauerberg, Linda) was 301. When I clicked "previous" the numbers r

[2020-05-13 20:53] #447 closed

[2020-05-13 20:55] gissoo commented on #589
@rlskoeser This is amazing!! Thank you so much!! I tested on safari, chrome, and firefox on desktop (by adjusting the window), and on my iPhone SE.

[2020-05-13 20:55] #589 closed

[2020-05-13 20:56] clmahoney commented on #434
@rlskoeser I see! Thank you for clarifying!
- YES, if I add the slug wright-ellen to another person (not Julia Wright, who I merged with Ellen), then the admin page does NOT allow me to save; I get an error. I tried to add Ellen's slug to Bernice Abbott and it didn't allow me to.

[2020-05-13 20:56] #434 closed

[2020-05-13 20:57] rlskoeser commented on #201
@thatbudakguy I don't actually know how infinite scroll is usually implemented, but can't we just autoload the next section of results as needed?

[2020-05-13 21:00] rlskoeser commented on #434
@jkotin I'm confident with Cate's testing, but you might want to read over the testing notes and Cate's comments so you know how this works and can think about whether we need something similar for books.

[2020-05-13 21:01] rlskoeser commented on #484
Upgrading to two points, since we didn't have an existing last modified field we could easily use (had to add to Solr), and because the card detail view was a little more complicated than the others.

[2020-05-13 21:02] rlskoeser commented on #492
Downgrading to 0 because this was trivial — able to use the member sitemap logic directly.

[2020-05-13 21:13] clmahoney commented on #598
- YES, when I generated the URL preview for general member browse, I got this:
![Screen Shot 2020-05-13 at 4 59 36 PM](https://user-images.githubusercontent.com/16673934/81865134-88442d80-953b-11ea-82f8-0902dccd9d51.png)
- YES, when I generated the URL preview for an individual member bio page (Bernice Abbott), I got this: ![Screen Shot 2020-05-13 at 4 59 11 PM](https://user-images.githubuserconte

[2020-05-13 21:16] clmahoney commented on #577
@rlskoeser @jkotin Re: Truyel--Rebecca is right, that's because the manifest hasn't been updated. Now that we will have this feature, I'll ask Nick to update all the manifests for the Leibowitz s2 members. Re: Caillois/Petitjean cards - I have not yet entered all the footnotes, etc. since this wasn't ready. But now that it works, I'll be able to do it and see it!

[2020-05-13 21:17] rlskoeser commented on #598
@clmahoney would you try putting the failing urls into the twitter validator twice ? I had some weird behavior with that, it would fail and then work

[2020-05-13 21:17] rlskoeser commented on #577
@clmahoney does this mean the feature is working correctly with the data on the site now and can be closed?

[2020-05-13 21:19] clmahoney commented on #577
@rlskoeser YES! Can I close?

[2020-05-13 21:22] #577 closed

[2020-05-13 21:23] clmahoney commented on #598
@rlskoeser Yes you're right, that's so weird! If I tried for a second time with Killen's borrow card for "The 12:30 from Croydon" and with Alderman's cards list, I saw the image of the card on the preview! Why is that happening??

[2020-05-13 21:37] gissoo commented on #494
@rlskoeser These are what I see right now.
- The link looks broken on safari and chrome.
- The position looks right everywhere, except as Cate has mentioned, for me also specifically on the mobile gallery view on firefox and safari.
- On the card image viewer page in mobile view the arrows don't look horizontally centered with the card, they look like they are futher down than they are supposed to

[2020-05-14 13:36] rlskoeser commented on #598
I think this may be related to the fact that the preview images based on lending cards are IIIF images coming from PUL; perhaps they aren't being generated quickly enough on the first try, but are ready when we hit it again? Based on fact that they're loading correctly the second time, I think I'm generating this correctly in the site code.

The preview images also look ok in an opengraph/twitter

[2020-05-14 14:16] thatbudakguy commented on #598
agree very weird; but i think your guess is reasonable - perhaps the load time required for the IIIF server to generate a derivative results in a timeout on the first try. OK to close.

[2020-05-14 14:17] #598 closed

[2020-05-14 14:26] rlskoeser opened #611 "member data export does not include postal code / arrondissement"
## Notes for testing
Check [new test member export data](https://drive.google.com/drive/u/0/folders/1wCPd4iD2kNGflsmVSJ6z6FhlJx7ETDl3) to confirm that postal codes and arrondissements are included and have the correct values. Check both CSV and JSON; check members with multiple addresses, no addresses, and addresses that are outside of Paris (should not have an arrondissement).

[2020-05-14 14:27] rlskoeser commented on #611
@jkotin your sense of priority? Should we include both postal codes and arrondissements?

[2020-05-14 14:46] rlskoeser commented on #494
I updated with a fix for the offset missing image in the card list view on Safari mobile and also adjusted the vertical alignment of the next/previous arrows (@gissoo I think you were right, they did look slightly off!).

Not sure what is going on with the breadcrumb, but we should probably create a separate issue for that.

@gissoo the broken image indicators on Safari and Chrome are browser spec

[2020-05-14 14:46] jkotin commented on #611
@rlskoeser I think we should do this before we deposit the 1.0 export.  But it doesn't need to happen right now.  I think we should include both postal codes and arrondissements -- the former might be useful for people making maps using Google, the latter for historical accuracy.

[2020-05-14 14:47] clmahoney commented on #187
Desktop: Members
- YES, when I'm on the member search page without ANY filters selected, I don't see the "selected features" section underneath the filters
- YES, when I selected filters like "has card," "membership dates," "birth year," "gender," "nationality," and/or "Arrondissement," I see the "Selected Features" area appear and show what filters I have checked. I tried many combos, including:

[2020-05-14 14:49] rlskoeser opened #612 "Create a separate data export with member addresses so fields are broken out separately and easier to work with"
Suggestion from @muziejus :

members, anyway; create two related tables w/ a many-to-many
relationship. That would help show addresses with many members as well
as members with many addresses. That's almost done with the JSON as
is, but there are two separate arrays, one for addresses and one for
coordinates. The structure might instead be something like:
[code]

[2020-05-14 14:50] rlskoeser commented on #612
Not sure what priority this will be for us, but wanted to document the suggestion received via email (hope that is OK @muziejus!).

[2020-05-14 14:53] clmahoney commented on #187
Desktop: Book search
- YES, when I'm on the book browse page without ANY filters selected, I don't see the "selected features" section
- YES, if I enter in a circulation date range, I see that appear in the "Selected Filters" area
- YES, if I enter only part of the date range, I see only part of it in the "Selected Filters"
- YES, if I clear the range, the filter disappears, DITTO if I hit "Clear

[2020-05-14 15:02] clmahoney commented on #187
Tablet: Members
- YES, when I'm on the member search page without ANY filters selected, I don't see the "selected features" section underneath the filters
- YES, when I selected filters like "has card," "membership dates," "birth year," "gender," "nationality," and/or "Arrondissement," I see the "Selected Features" area appear and show what filters I have checked.
- YES, if I hit "clear all" OR if

[2020-05-14 15:07] clmahoney commented on #187
Mobile: Members
- YES, when I'm on the member search page without ANY filters selected, I don't see the "selected features" section underneath the filters
- YES, when I selected filters like "has card," "membership dates," "birth year," "gender," "nationality," and/or "Arrondissement," I see the "Selected Features" area appear and show what filters I have checked:
![Image from iOS (13)](https://us

[2020-05-14 15:12] clmahoney commented on #187
Loading a new page with lots of filters:
- YES, if I had a lot of filters set and then copied and pasted that URL into a new window, the page loaded with all the filters I had already selected. I then toggled through different filters and all worked as expected!

[2020-05-14 15:30] clmahoney commented on #494
@gissoo @rlskoeser This looks good on my mobile view now!

[2020-05-14 15:37] jkotin commented on #187
This is beautiful.

[2020-05-14 15:37] #187 closed

[2020-05-14 15:47] jkotin commented on #434
@rlskoeser I do think we'll need something similar for the books, although merging books will be less frequent than members, I expect.  But it will happen.

[2020-05-14 15:48] rlskoeser commented on #434
@jkotin — thanks, that is what I suspected. I think it should be simpler to implement since there is no merge method for books and I can adapt what I've done for the person records.

[2020-05-14 15:49] rlskoeser opened #613 "As an admin, when I change work slugs I want past slugs stored and used for redirects on public views so that links for edited works continue to resolve."
## testing notes

The scenario for this is if someone cites or links to a book page (including urls in the data exports) and we change records in the database, we want that link to still resolve if possible. The easiest way to test it might be this: choose a work record on the test database and open up multiple different work detail pages in different tabs (bibliography, circulation activities, ca

[2020-05-14 15:56] #494 closed

[2020-05-14 16:34] gissoo commented on #606
@rlskoeser @thatbudakguy [Here are the designs](https://app.zeplin.io/project/5c48e7313d2b13bf7fc9fe14/screen/5ebd6392f6a658487ef04bcf) for when there is a map view on the Member search page.

- Nick and I had agreed that:
1. Even though there is pagination on the "list view" it won't work for the "map view" and there won't be any on the "map view", so it will be an infinite scroll.
2. On desktop

[2020-05-14 16:35] gissoo commented on #201
@rlskoeser Thanks for flagging the question! From the conversations @thatbudakguy and I had before we agreed that it will need to go to the member's biography page.

Please come here #606 to read fully about it all.

[2020-05-14 17:04] rlskoeser commented on #612
Even better would be if we use [GeoJSON](https://geojson.org/)

[2020-05-14 17:16] gissoo commented on #566
@jkotin What is more important to you on this page? The circulation count? Or circulation dates?

[2020-05-14 17:26] jkotin commented on #566
@gissoo count.  But would you re-send me a link to the page design?

[2020-05-14 17:56] rlskoeser commented on #607
Just checked on the test site, this looks great.

[2020-05-14 17:56] #607 closed

[2020-05-14 18:38] #484 closed

[2020-05-14 18:38] thatbudakguy commented on #484
✔️ robots.txt lists sitemap
✔️ sitemap lists sub-sitemaps
✔️ urls/dates on sitemaps are correct
✔️ members with card get 0.5 priority; all others show 0.1

[2020-05-14 18:39] #492 closed

[2020-05-14 18:39] thatbudakguy commented on #492
✔️ main sitemap loads
✔️ dates & urls on sub-sitemaps look good

[2020-05-14 19:15] rlskoeser commented on #485
sanity checked this on the test site, seems to be working fine

[2020-05-14 19:15] #485 closed

[2020-05-14 19:17] rlskoeser commented on #261
All features included here have been tested and accepted.

[2020-05-14 19:17] #261 closed

[2020-05-14 20:16] rlskoeser commented on #606
Thanks for working on this @gissoo.

I don't understand what you mean for 8 — "map would be as zoomed out as possible"; we want to have it focused on Paris with the store visible even though we have locations outside of Paris, right? I wonder if there is some way with leaflet to indicate the number of locations available that are not visible (or if not the number, at least that there are more).

O

[2020-05-14 20:32] gissoo commented on #601
All screens are updated.

[2020-05-14 20:32] #601 closed

[2020-05-14 20:36] gissoo commented on #602
Eliminated unused colors + added the blue (for uncertainty & question icon)

[2020-05-14 20:36] #602 closed

[2020-05-14 21:25] gissoo commented on #606
- I agree! That would be great.
So it won't be possible to show all of the addresses (meaning having the map zoomed out to show all the pins) but still have the library pin visible in the middle? I was trying to find on the database to see which other cities/addresses there are other than the ones in Paris, but can't see without easily without paging through the data.

- I agree.

- I agree

- Cor

[2020-05-15 12:57] rlskoeser opened #615 "lending library cards are listed out of order"
## testing notes
Check accounts that have events on other cards as well as accounts with multiple cards who do not to confirm that order is as expected.

---
The query that adds other cards where a member has events broke the order #599

[2020-05-15 13:06] rlskoeser opened #616 "person field edit order in admin leads to non-standard slugs"
## testing notes
Check the admin edit form for persons to see that editing still works properly with the revised field order. Slug field should automatically populate based on sort name (although can be edited), and help text should include the preferred format.

[2020-05-15 13:41] rlskoeser opened #617 "wagtail paragraph block is missing custom feature list (blockquotes, superscript, etc)"
## testing notes
Open a page in the wagtail editor and confirm that paragraph text formatting includes the options we have customized (superscript, blockquote, etc).

[2020-05-15 14:00] rlskoeser opened #618 "500 error creating new person records"
## testing notes
Make sure you can create a new person record without getting a slug

[2020-05-15 14:09] clmahoney commented on #615
@rlskoeser the regular card order looks fine, but the members on multiple cards is giving me that broken card image. Ex: Pierre Denis (shows up on s2 of Leibowitz):
![Screen Shot 2020-05-15 at 10 09 09 AM](https://user-images.githubusercontent.com/16673934/82059529-277c3880-9694-11ea-8fe1-fe8cd6126bb6.png)

[2020-05-15 14:16] rlskoeser commented on #615
That's the card image I broke on purpose so we could test the missing image (IDK why I chose such an important image for testing other things!).  I just reimported the manifest so it will display correctly on the test site again.

[2020-05-15 15:12] jkotin commented on #617
Yes!

[2020-05-15 15:12] #617 closed

[2020-05-15 15:15] jkotin commented on #618
Yes, works!

[2020-05-15 15:15] #618 closed

[2020-05-15 15:17] clmahoney commented on #615
YEs this works!

[2020-05-15 15:17] #615 closed

[2020-05-15 15:19] jkotin commented on #616
I don't understand what to check here.  @clmahoney do you?

[2020-05-15 15:32] clmahoney commented on #616
YES this works!

[2020-05-15 15:32] #616 closed

[2020-05-15 15:33] clmahoney commented on #616
@jkotin Go to the people page and add a person; when you add in their name and hit tab, the slug will generate

[2020-05-15 15:33] jkotin commented on #616
@clmahoney thank you!  I worried that it was more complicated than that.

[2020-05-15 15:49] rlskoeser opened #619 "last modified headers don't account for changes to site assets compiled by webpack"
Last modified headers are based on solr index time, but the html content changes when a new release is deployed because webpack assets are currently compiled with a hash name.  This means that cached pages will display the incorrect styles, because they're trying to load the styles from the previous release, which are no longer available.

Simple fix would be to configure webpack not to use hashes

[2020-05-15 15:52] rlskoeser commented on #619
Maybe this problem doesn't happen on every release — maybe only when the hash changes (and I don't know what that is based on).

[2020-05-18 14:14] jkotin opened #620 "Public Notes Display on Book Pages / spacing is off"
The public notes appear on the book pages too close to the creator/bibliographical information.

<img width="1023" alt="Screen Shot 2020-05-15 at 9 08 24 AM" src="https://user-images.githubusercontent.com/12616674/82223230-64446b80-98f0-11ea-94c9-d9c13cc734eb.png">
<img width="1204" alt="Screen Shot 2020-05-17 at 12 02 37 AM" src="https://user-images.githubusercontent.com/12616674/82223245-6870890

[2020-05-18 15:20] rlskoeser opened #621 "As a content editor, I want to add basic formatting to public notes so that I can differentiate titles from authors and dates."
## testing notes
- in the admin interface, add [markdown formatting](https://www.markdownguide.org/cheat-sheet/) to public notes for one work and one person (suggest at least: italics, bold, link)
- view work bibliography page and check that the note is rendered with formatting
- view person biography page and check that the note is rendered with formatting
- check one work and one person with unf

[2020-05-18 15:59] gissoo commented on #566
@jkotin thanks! Here is the page: (https://app.zeplin.io/project/5c48e7313d2b13bf7fc9fe14/screen/5c8c155383d1b52501ceb39b)

[2020-05-18 16:18] jkotin commented on #566
@gissoo thank you. Circulation count is more important, I think.

[2020-05-18 20:10] gissoo commented on #542
@rlskoeser [here are the solutions I'm proposing. ](https://app.zeplin.io/project/5c48e7313d2b13bf7fc9fe14/screen/5ec2ea34026c9a30e1b0f40c)

v1. Click on the image to zoom, click out of the image to zoom out
v2. Zoom button on the side (top) – on lick magnifies parts of the image when hovering over the image with it
v3. Another version of v2 – not a fan, just testing for UX purposes as it might be

[2020-05-18 21:51] gissoo commented on #566
@jkotin @rlskoeser [Here is what I'm proposing](https://app.zeplin.io/project/5c48e7313d2b13bf7fc9fe14/screen/5ec301c52611c730be7ca733)

- I prefer moving the "book"/"periodical" to the bottom left because that is more of a fundamental piece of information, and then having the circulation-related info on the right. I'm not feeling great about the "Circulation Count" "Circulation Dates" titles here

[2020-05-18 22:11] gissoo opened #622 "Update the date range format on the member's mobile activities pages to match the mobile circulation page"
- What needs to match: 1. The format of the date ranges (I don't think it's a good idea to match the column widths here with the circulation page)
[here is the link to the design](https://app.zeplin.io/project/5c48e7313d2b13bf7fc9fe14/screen/5ebc34d5d017727723758ed8)

Currently, the date ranges and the author's name overlap on the site. Attached is an example. ![Screen Shot 2020-05-18 at 3.41.53 P

[2020-05-18 22:13] gissoo opened #623 "Update the date range format on the member's mobile activities pages to match the mobile circulation page"

[2020-05-18 22:14] gissoo opened #624 "Create a "external link" icon"

[2020-05-19 12:23] jkotin commented on #566
This looks great to me. Notes:

1. I wonder about the use of bold: the title, author, and date are the most important information. I worry that the bold causes the eye to be drawn first to the circulation information.

2. Re: terms -- I think abbreviating "circulation" to "circ." is fine. So "circ. count." That said, in the drop down sort menu, we just use the word "circulation" -- maybe that coul

[2020-05-19 14:18] rlskoeser commented on #566
I don't love "Circulation Count" or "circ."; what if we just label it as "Circulation" and then add a label to the numbers? Something like "87 events" (although I know we're using "activity" rather than events for labels elsewhere — not sure how to make that work with a number, "87 activities" sounds weird to me).

I actually wondered if we could put both the count and the years under the label "C

[2020-05-19 14:57] rlskoeser commented on #542
I like v5 and v6 best (prefer v6 if we can make it work, which I think we should be able to). I might be partly biased towards those because I actually know how to implement them (no idea how the magnifying glass would work!); but I do think it will be a better solution than the other options in terms of functionality and interaction.

Clarification question, just to make sure I'm understanding wh

[2020-05-19 14:58] gissoo opened #625 "Breadcrumbs never show the current page"
Breadcrumbs in the design always show the current page unless it's a 4th level page.

[2020-05-19 16:26] thatbudakguy commented on #606
@gissoo is the intent that we should discuss all aspects of the design of #201 here? just want to make sure that things don't get lost.

i have a thought that simplifies some things, but is a fairly radical departure from the design, so wanted to throw it out now in case it gets anyone else thinking.

consider a map view that operates very similarly to google maps, where:
- the side pane (or botto

[2020-05-19 16:44] gissoo commented on #606
@thatbudakguy Yes, that is the intent (and to bring RSK to the loop since I know many of the discussions we had on this last year was between you and I – so just wrote above on what you and I had agreed on for RSK and also as a refresher and confirmation for the both of us too)

I like the way you're thinking about it! – It's very similar to what I have shown and what we agreed to for the mobile v

[2020-05-19 16:47] gissoo commented on #606
@thatbudakguy I also proposed that we show a piece information on the pin that will be relevant, because it will give more clues to the user before they select a pin, not sure if the address would help us achieve this goal – RSK, in a comment above asked what if it clutters the map – where I responded "Correct, it's okay if it gets cluttered by default, I'm imagining once zoomed in it won't be clu

[2020-05-19 17:11] gissoo commented on #566
@jkotin @rlskoeser Thanks for writing.
- Thanks for the link, Josh. I saw this "how many copies of a particular publication are distribute" yesterday as the meaning of "Circulation" and I freaked out a bit – I know it's in the context of the _library_ here and it should make sense but what if it's confusing? Do we mean something that is closer to "readership"?

- @rlskoeser How can we calculate re

[2020-05-19 17:13] rlskoeser commented on #606
I started a comment the other day and then lost track of it in a tab somewhere...

One of my concerns was that the discussions Gissoo and I were having were making it more complicated, and that we need to keep it as simple as we can while providing the appropriate functionality. Nick, glad to hear you thinking about this too!

Showing only one member at a time and making the different screens more

[2020-05-19 17:19] rlskoeser commented on #606
@gissoo the card icon question might be different now if we're only displaying member details for one member and it is based on the existing member details page (my proposal). However, some numbers to follow up on our earlier conversation:
- 1495 members with an associated address
- 894 members with address but no card

That number is higher than I thought it would be; must be due to all the data

[2020-05-19 17:20] rlskoeser commented on #606
@gissoo @thatbudakguy one thought/question: is there a way to highlight other addresses associated with the same member, for members who have more than one? Asking both about interaction and implementation here, as I'm not sure about either.

[2020-05-19 17:22] gissoo commented on #606
@rlskoeser What if it's "All Members" "Members with Address" – I think it's still about members and even though there is a title up there "MEMBERS" it's odd to just have "addresses", it can be confusing. I know the way we are thinking about it now makes it to be logically about the "Addresses" however I think "Members with Address" would make it more inclusive in the sense that there is a way to f

[2020-05-19 17:29] rlskoeser commented on #566
@gissoo I didn't mean to propose we should calculate and display readership, but I would calculate it as the total number of readers who interacted with a book. (e.g. "8 readers").  For example, _Portrait of the Artist as a Young Man_ has 56 events in our database because some people borrowed it twice, or borrowed and then purchased.

Thinking about it more, I like the idea of using "Circulation"

[2020-05-19 17:32] rlskoeser commented on #606
Let's keep thinking about the labels, I'm hoping we can come up with something shorter than this. All members seems confusing, because as soon as you search or filter it isn't all. I think list/map might be preferable.

I agree, card icon is more important than I thought, since there are a lot of members who have addresses but no card.

[2020-05-19 17:36] jkotin commented on #566
Some notes @gissoo @rlskoeser:

1. Circulation v. readership -- sorry for introducing panic!  I think "circulation" or "circulation count" is the correct term -- it refers, in our context, to how many people checked out or bought the book based on the extant lending library cards. Readership is impossible for us to know: it refers to how many people read the book. For example, I check out a book f

[2020-05-19 17:56] gissoo commented on #566
@jkotin thanks for writing on the readership, this makes a lot of sense! What you have there is what I had in mind to show you both :D
[here](https://app.zeplin.io/project/5c48e7313d2b13bf7fc9fe14/screen/5ec41cef8ff561475cff62aa)

I think it looks a lot better now! Thanks @rlskoeser for suggesting "events" – that was the main issue for me at first - Josh, I prefer events more than "borrows", I thi

[2020-05-19 17:57] rlskoeser opened #626 "subscription purchase date calculation only considered renewals"
Should revise to check other subscriptions, since a renewal isn't always marked as one.

As part of the checking, generate a report of subscriptions where purchase date ≠ start date to guide review of the changes.

[2020-05-19 17:57] rlskoeser commented on #626
@jkotin I think this should exclude supplements, which would logically overlap with an existing subscription. Any other subscription subtypes that should be ignored?

[2020-05-19 18:47] jkotin commented on #626
@rlskoeser Agreed, no supplements.  There is only one other kind of subtype: "other," and only seven cases. @i-davis what does "other" mean for subscriptions/memberships?

[2020-05-19 19:15] thatbudakguy commented on #600
just to make sure we're all on the same page - i just checked chrome, safari, and firefox and saw a uniform underline thickness of 2px, which is what's set in the css.

@gissoo can you take some screenshots to show the difference? I suspect that we might instead be talking about the distance the underline is from the text (which unfortunately chrome does not support controlling, though safari and

[2020-05-19 19:16] rlskoeser commented on #600
@thatbudakguy I think you may have fixed this in your active filters changes.

[2020-05-19 19:26] gissoo commented on #600
@thatbudakguy @rlskoeser I noticed this got fixed for a day or two, and then it has come back again :D

No, as far as I can tell visually I'm talking about the thickness of the line, unless it is affected by something that has to do with the distance of the line with the text implementation-wise.

Right now, it's again thin in chrome and firefox, and it looks correct on Safari. Here they are in th

[2020-05-19 19:27] rlskoeser commented on #608
@gissoo how urgent do you think this is?

[2020-05-19 19:33] gissoo commented on #608
@rlskoeser I hadn't seen this!! It looks bad :\ but priority-wise I don't think it's a big deal and there are more important things going on.

[2020-05-19 19:55] rlskoeser commented on #566
This looks great! I prefer events to "borrows/other"

@gissoo not so sure about the mobile — could we just stack the content instead of having them offset like that?

[2020-05-19 21:33] rlskoeser opened #629 "arrondissement facet counts on member page never change"

[2020-05-19 21:43] rlskoeser commented on #629
@thatbudakguy I think this is something the member-search typescript, when I inspect the JSON facets returned for a narrowed search the counts were different than what was shown.

I see one possibility —  the typescript code has `pluck('arrondissements')` but the facet is **arrondissement** singular; however, changing that didn't solve the problem for me and resulted in errors on the console..

[2020-05-19 21:44] gissoo commented on #566
@rlskoeser I really prefer to keep it as is for mobile. It's also this way for "members" on mobile, and it would keep the container shorter than it needs to be. It also visually helps to create less of a cognitive load.

[2020-05-19 21:48] gissoo commented on #567
@jkotin @rlskoeser [Here is the design for this page.](https://app.zeplin.io/project/5c48e7313d2b13bf7fc9fe14/screen/5ec452beba5f3547b4e70a8e)

- I was trying another way (to just add the circ. info after the pub. date info on the left), however it's not consistent with the search results and it doesn't make so much sense to me, therefore I have made it this way, taking the "book"/"periodical" to

[2020-05-20 00:26] jkotin commented on #567
Could we have the "read online" at the top?  (I.e. above the circulation information?)  I really love that feature and want it to be prominent.  Otherwise, this looks great.

[2020-05-20 00:57] jkotin opened #630 "Book search not working effectively."
A search for "portrait of artist" yields strange results. See screen shot.
<img width="1070" alt="Screen Shot 2020-05-19 at 8 29 06 PM" src="https://user-images.githubusercontent.com/12616674/82393051-5fc4a380-9a13-11ea-8ac6-4304f3396776.png">

[2020-05-20 13:47] gissoo commented on #542
@rlskoeser When you say "but I do think it will be a better solution than the other options in terms of functionality and interaction" – do you mean the magnifying glass one?

What about v1? I'm not fond of v5 and v6 in general, it is what is used most often and I'm not sure they are necessary – too dramatic and overwhelming at times. But I understand we are limited in time and if you know how to

[2020-05-20 13:51] rlskoeser commented on #542
@gissoo sorry I was unclear! I think the deep zoom provides better functionality since there is more control and allows for more zoom levels.

Looking again, I see that V1 would probably be the simplest to build.  It's full-screen right? Click to get the image full-screen, click again to go back to the normal view.  Do you think it's big enough for everyone to read on all devices? Might still be s

[2020-05-20 13:51] rlskoeser commented on #542
I'm not sure how the activities table would fit vertically, but I think it would at least be possible on v5/v6; not sure how it would work with v1.

[2020-05-20 13:59] jkotin commented on #542
Just interrupting this -- disregard if unhelpful! -- I don't think the card size is an issue on mobile or tablet. It's easy for users to zoom in / enlarge the page.  I also don't think we need full-on zoom feature on desktop. If users want to look incredibly close they can save a jpg of the card or go to the finding aid. What's important to me is that users can easily make the cards readable on de

[2020-05-20 14:08] rlskoeser commented on #542
Thanks @jkotin — to be clear, you prefer the functionality in V1 but with the magnifying glass positioned as in V2?

@gissoo It occurs to me know that we shouldn't have the minus magnifying glass over the enlarged image either, it will obscure content in many cases.  Do we even need these? Can we just make the image clickable?

@jkotin the mobile/tablet zoom in enlarges the page but doesn't increa

[2020-05-20 14:10] gissoo commented on #542
@rlskoeser  I think it's big enough – and it's so quick and easy to navigate in comparison with some of the other options. Seeing the cards or navigating them easily doesn't have to exist in v1, v1 is naturally a quick interaction and doesn't require as much effort as v5 and v6, for instance.

@jkotin Thanks for writing. The reason I would agree with v1 is that there is no magnifying glass on top

[2020-05-20 14:14] jkotin commented on #542
Yes, I like v1. I agree with @rlskoeser that the magnifying class is probably unnecessary.  I think users are used to clicking on an image and getting a bigger version.  (My example of what I envisioned was the MOMA site: https://www.moma.org/magazine/articles/245.) Deep zoom isn't a priority for me.  A very small percentage of users might want super detailed images, but most will just want to rea

[2020-05-20 14:14] gissoo commented on #542
@rlskoeser having the minus magnifying glass plays a role in making the interaction light and seamless – rather than an x button at the top of the window to close the large image window – it creates an ease on the user on how they can go back to the previous view of the page, I'm not sure how valuable this is without the easy in and out of the + and - magnifying glass.

[2020-05-20 14:18] rlskoeser commented on #542
Ok, I'm happy to proceed with V1 approach.

@gissoo maybe the magnifying glass icon could show on hover?

It occurred to me we can implement it in a way that pulls in a higher-resolution version of the image appropriate to the device — @gissoo would you recommend sizes when you revise?

[2020-05-20 14:27] rlskoeser commented on #567
@gissoo sorry I didn't get the chance to comment before you revised! I don't think we should have comments or ellipses on the circulation years — it should just be a list of year or year range, as we have on the member biography page. Otherwise, these look great to me too.

[2020-05-20 14:29] gissoo commented on #542
@jkotin thanks for writing and for the example. what MoMA is doing makes sense for an article page with single images along the page, however for our purpose on the card image viewer page I don't recommend it at all because it makes navigating through the cards on a page a pain.

@rlskoeser Thanks for writing. What do you mean when you say "maybe the magnifying glass icon could show on hover?" – I

[2020-05-20 15:39] rlskoeser commented on #566
@gissoo I looked at the mobile again — weirdly, it looked unbalanced to me when it was zoomed out, but when I zoom in (more like how it would look to someone on a phone), I see that the format lines up with the circulation and it looks balanced and readable.

I wonder about the placement of the uncertainty icon on mobile — it seems like it makes the container longer unnecessarily, could it be top

[2020-05-20 16:23] jkotin opened #631 "Book circulation lists and joint accounts."
## testing notes
Find book events for a few different shared accounts and check how the event displays on book circulation table and book card list — both names should be present; on the circulation view both should link to their individual account. On the card view, link will go to the first account.

----

The problem:

Leon Edel shares an account with his wife Bertha. They borrow James Farrell’

[2020-05-20 16:58] gissoo commented on #567
@rlskoeser Thanks for pointing this out! I missed it!
@jkotin About the "read online" link – I understand. I think it's fine for it to be on top.
[Here are the revisions. Please let me know what you think (all screens in this section).](https://app.zeplin.io/project/5c48e7313d2b13bf7fc9fe14/dashboard?seid=5eb17d4d9361e31e8fa64210)

[2020-05-20 17:15] jkotin commented on #567
Looks perfect to me.

[2020-05-20 18:34] rlskoeser commented on #567
Yes, looks great to me too. @gissoo would you add a note for column widths on mobile? (if it isn't already marked / communicated in some way).

Should we close?

[2020-05-20 18:47] rlskoeser opened #632 "As a user, I want to see circulation information on book search and detail pages so I understand how much and when a book circulated."
## notes for testing
- check the books list page: each book should include a circulation block with the number of events and years that the book circulated
- check the book biography page: should have the same information (event count & years)
- check both pages against the designs in zeplin for all screens: [book search](https://zpl.io/29xEGqz); bibliography [desktop](https://zpl.io/VKZ8L0A) [tab

[2020-05-20 18:50] rlskoeser commented on #509
@jkotin we were looking up french ordinal number digit abbreviations and wanted to confirm: is it _er_ for 1 (1er) and _e_ for everything else? Do you want the e/er superscripted, as it appears in the wikipedia article you referenced?

[2020-05-20 18:58] rlskoeser opened #633 "in some cases, empty facets result in a 500 error on member search page"
I'm not sure what conditions are causing this, but in the current code you can force an error by editing the query params to pass an invalid choice.

## notes for testing
Go to members page, apply a filter (e.g. nationality) and then edit the URL in your browser location to change value after `nationality=` to something that isn't a valid nationality. Compare production and test — in production I

[2020-05-20 19:08] gissoo commented on #606
Based on our meeting we agreed:
1. Map is focused on Paris and the library by default on all devices.
2. Upon selecting a pin one member's info will be shown on the left on a side bar that extends to the bottom of the map on desktop and tablet.
3. Upon selecting a pin one member's info will be shown on the bottom of the map on mobile
4. Erase the address from the member's container.
5. The address

[2020-05-20 19:12] thatbudakguy opened #634 "split out CI builds"
as noted in https://github.com/Princeton-CDH/pemm-scripts/pull/45#issue-420883706, we can use travis's build matrix (or similar functionality on github actions) to do the python and js parts of the build separately. see the link for more context.

[2020-05-20 19:29] gissoo commented on #566
@rlskoeser thanks for writing. I recommend we keep the uncertainty icon where it is. I have testet the second and third bullets:
- Having it on the right doesn't make sense hierarchy-wise and is inconsistent with other devices as well.
- Having it under the result number makes the grouping of information on the left looks somewhat cluttered, I'm not a fan of what it creates visually, and is not wo

[2020-05-20 19:33] rlskoeser commented on #566
@gissoo ok! thanks for testing and elaborating your thinking on this. I agree you shouldn't spend more time on it.

[2020-05-20 19:58] gissoo commented on #567
@rlskoeser Thanks for writing. I had corrected the column widths, but I just revised all the columns on all screens so they are all consistent and exact on Zeplin when clicked on. Thanks for pointing it out.

@jkotin If you don't have any concerns please close the issue.

[2020-05-20 20:00] gissoo commented on #566
@jkotin If you don't have any concerns with the designs here please close the issue.

[2020-05-20 20:21] gissoo commented on #566
@rlskoeser Note: I also just revised and made sure the column widths here are also consistent.

[2020-05-20 20:40] rlskoeser commented on #630
Aha. The text field we're using to boost unstemmed matches has a stop word filter configured  but the list is empty. We're using an English stop word filter for the other version of the field.

I think the lack of filtering + field boosting explains the behavior.

I think it might make more sense to create and use an unstemmed text field for title and notes rather than adding a stop word filter to

[2020-05-20 20:41] #567 closed

[2020-05-20 20:48] jkotin commented on #630
I can't quite play out in my head the effect of using an unstemmed text field v. adding a stop word filter.   But I defer to you here!

[2020-05-20 21:07] rlskoeser commented on #630
@jkotin fair! I'm concerned about introducing unanticipated changes to a field we're already using for other things. I _think_ we had two variants of the field so we could boost unstemmed matches over stemmed ones, and if that's the case we probably want the two variants to be the same except for stemming.

@jkotin do you _want_ to support searching on stop words? if we do, we can still include th

[2020-05-20 21:19] jkotin commented on #630
@rlskoeser I'm not certain. But there are some titles that might be mostly stop words, e.g. One of Us, One of Ours.  I'd have to think harder to get a better list.  There are also some stemmed matches that would be helpful to have, e.g. Russia/Russians.  (Is that how stemmed matches work?) How does the PUL catalog do it?  I've always been impressed by its search results.

[2020-05-20 21:29] rlskoeser commented on #626
I revised the migration to look at all subscriptions other than supplements (figured "other" was small enough to review manually if any of them do overlap), and documented the steps to undo and rerun this one.

Here's a list of subscriptions from test site data where purchase date is different than start date — I'm hoping this is a good basis for checking them (I think they likely will need manual

[2020-05-20 22:17] clmahoney commented on #633
- YES, when I altered the URL query to say "Martian" instead of China, on the production page I got an error "Something went wrong" card and when I tried the same in test, I got a clear "No search results found. Try a different search" message. Is that the message I want?

[2020-05-20 22:24] clmahoney commented on #508
- YES, I see that in the dropdown menu for Nationality, there is now a "Unidentified" option
- YES, if I selected the "Unidentified" option, I see all 5,346 options appear on the member search below
- YES, if I select more nationality filters in combo with "Unidentified," the numbers add up correctly
- YES, if I mix the "Unidentified" filter in combo with other filters, such as gender and arrondis

[2020-05-20 22:24] clmahoney commented on #508
@rlskoeser Sorry, can you clarify what you mean by the last testing direction, "some with spaces and some without"?

[2020-05-20 22:33] clmahoney commented on #547
Members:
- YES, if I omit spaces in names (e.g. T.S. instead of T. S.) I see all results, as if I had written T. S. like it's spaced on the site
but
- NO, if I type in "T.S " which is T dot s space, I get NO RESULTS. I get results when I add the period after s.

Same thing in books:
- YES, if I omit spaces in names (e.g. D.H. instead of D. H.) I see all results, as if I had written D. H. like it's

[2020-05-20 22:42] clmahoney commented on #621
@rlskoeser Sorry but I need more clarification! Do I do this work in test-admin?

[2020-05-21 13:00] jkotin commented on #509
Yes, correct.  And superscript would be ideal!

[2020-05-21 13:10] jkotin commented on #566
Looks great.

[2020-05-21 13:10] #566 closed

[2020-05-21 13:34] rlskoeser commented on #633
Yes, that's exactly what we want! As much as possible, we don't want people to see the "something went wrong" card — it means there was an error we didn't handle properly in the code.

I'll go ahead and close since you tested and confirmed.

[2020-05-21 13:34] #633 closed

[2020-05-21 13:36] rlskoeser commented on #508
@clmahoney sorry, that was unclear! Was thinking as a programmer rather than a normal person — I just mean, please test both one word (e.g. Russia) and two word (e.g. South Africa) nationalities. I changed slightly how the query handles them and want confirmation that I didn't break anything.

[2020-05-21 13:38] rlskoeser commented on #547
@clmahoney my understanding based on Josh's request was that we only cared about T.S. / T. S. and not T.S or TS, so I think your testing results match what we want.

@jkotin can you confirm I've understood correctly?

[2020-05-21 13:39] rlskoeser commented on #621
@clmahoney yes, sorry! Edit the public notes in the admin for person and work.

[2020-05-21 13:42] jkotin commented on #547
I'm not worried at all about "T.S" -- but is "TS" something that we should anticipate?  Regardless: "T.S." and "T. S." are by far the MOST important -- I'm happy if the search responds to both.

[2020-05-21 13:44] rlskoeser commented on #542
@gissoo sorry — are you saying from that the +/- magnifying glass icons in your mockups will only show on hover? I didn't understand that. If that's the case, then I prefer the icon in the middle of image instead of above it.

Is there any good way to show the magnifying glass for touch devices that don't have a hover event?

[2020-05-21 13:45] rlskoeser commented on #547
It's entirely possible people will try "TS" (it's amazing what people do that we can't anticipate), but I don't think splitting that automatically is a good idea because it could easily cause problems for legitimated two letter words.

[2020-05-21 13:46] rlskoeser commented on #547
@jkotin based on your answer, it sounds to me like Cate's testing confirms this is working the way we want. Do you want to test/review/close ?

[2020-05-21 13:47] #547 closed

[2020-05-21 13:48] rlskoeser commented on #626
@clmahoney not sure the best way to test this one  — I was thinking you could check a handful of the accounts that are listed in my report above as having purchase dates different than subscription dates and report on how things look? Might also be useful to try to think about and document what manual clean up we can expect after this migration.

@jkotin any additional thoughts on the review you'd

[2020-05-21 13:49] rlskoeser commented on #626
FYI, I see one "other" event that was adjusted for Phyllis Price in the list above.

[2020-05-21 13:51] jkotin commented on #626
@clmahoney and @rlskoeser it would be great to get @i-davis involved in this testing. He knows the members and membership activities best.

[2020-05-21 14:10] i-davis commented on #626
@jkotin @clmahoney @rlskoeser : I'll be happy to help with testing! Is it okay if I can't help till Saturday? Still moving house, but should be done by then!

As for "other" as a subscription type, it's the miscellany, a bucket for subscription types people didn't recognize as a normal, recurrent type, like: "Teacher," "special," and "Fr." I can go back through them this weekend, if you like, and

[2020-05-21 15:15] gissoo opened #635 "Add "not mvp" sticker to all "Advanced Search" designs on Zeplin"

[2020-05-21 15:20] gissoo opened #636 "The Nationality link icon is showing above the "members" sticky bar"
– Not urgent if too much trouble – just thought it's better to record it than not

![Image from iOS (1).png](https://images.zenhubusercontent.com/5bf307a69d595b459ec91bb1/2f0564f5-db61-411f-8b65-6cd9a62ce990)

[2020-05-21 17:22] thatbudakguy opened #637 "search results have blank aria-label"
from [john's review](https://docs.google.com/spreadsheets/d/1N-oBy9Mp91TEdXEi6rjCMNsbJNacxMh6CEGTHpCRfws/edit?usp=sharing):

[2020-05-21 17:24] thatbudakguy opened #638 "alternative content for member detail graph and map"
from [john's review](https://docs.google.com/spreadsheets/d/1N-oBy9Mp91TEdXEi6rjCMNsbJNacxMh6CEGTHpCRfws/edit?usp=sharing):

we definitely at least have a description attribute linked to the graph, so _something_ should be getting read. need to check what the leaflet map sounds like.

[2020-05-21 17:28] thatbudakguy opened #639 "leaflet maps are scroll traps"
# testing notes

when you navigate to a page with a map (currently just the map on member detail pages), the map should no longer scroll using your scroll wheel. You should be able to scroll all the way down the page without interacting with the map. the map should still zoom in/out using its +/- zoom controls.

# dev notes
from [john's review](https://docs.google.com/spreadsheets/d/1N-oBy9Mp91TEd

[2020-05-21 17:37] thatbudakguy opened #640 "missing or invalid headings for top-level pages"
from [john's review](https://docs.google.com/spreadsheets/d/1N-oBy9Mp91TEdXEi6rjCMNsbJNacxMh6CEGTHpCRfws/edit?usp=sharing):

not sure which pages are missing headings, but it seems at least the homepage might be.

[2020-05-21 17:40] thatbudakguy commented on #335
this is still an issue - from [john's review](https://docs.google.com/spreadsheets/d/1N-oBy9Mp91TEdXEi6rjCMNsbJNacxMh6CEGTHpCRfws/edit?usp=sharing):

Easiest fix is to mark the menu as display:none when hidden

[2020-05-21 17:42] thatbudakguy opened #641 "search page tabs don't announce open/closed state"
from [john's review](https://docs.google.com/spreadsheets/d/1N-oBy9Mp91TEdXEi6rjCMNsbJNacxMh6CEGTHpCRfws/edit?usp=sharing):

"Attribute :aria-setsize not allowed on element."

https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/Tab_Role.

[2020-05-21 18:00] rlskoeser commented on #626
@i-davis weekend is fine! Our plan is to release updated code next Thursday, so feedback early next week should allow for time to make changes to the code if you identify anything.

The "other" that we're discussing here is not for the subscription type or category (which I think you're describing), but the subtype of the subscription event — subscription, supplement, renewal, other.

[2020-05-21 18:17] jkotin commented on #626
@i-davis Yes, there is a subscription subtype "other," along with "renewal" and "subscription."  See here under "type":

https://shakespeareandco.princeton.edu/admin/accounts/subscription/

There are only 7 or so labeled "other."  Do you know what they are?  Would you investigate?

[2020-05-21 20:48] i-davis commented on #626
@rlskoeser Great: weekend it is!

Oh ah yes I see! My apologies for going too fast & misunderstanding -- & thanks for this clarification!!

Those seven others are:
a) Just noted as "deposit" (Creswick, de Girodon, Bell, Heinemann). Guessing this means they subscribed, took some books, and then actually paid another day.
b) Periodical deposits (Chang, Price).
c) A sassy note about a late payment (M

[2020-05-21 21:08] clmahoney commented on #508
- YES, I tested with some nationalities that are one word (like Russia) and some that include spaces (like New Zealand). Displays as it should!!

[2020-05-21 21:08] #508 closed

[2020-05-21 21:21] clmahoney commented on #621
- YES, this works for the Books public notes! I tried all kinds of formatting for public notes, and had fun with it: bold, italics, link, numbered list:
![Screen Shot 2020-05-21 at 5 14 12 PM](https://user-images.githubusercontent.com/16673934/82607367-a7b80780-9b86-11ea-9b4e-498b72bb5073.png)
- YES, this works for Member public notes too! I fiddled with Abbott's public notes:
![Screen Shot 2020-0

[2020-05-22 17:35] gissoo commented on #606
@rlskoeser @thatbudakguy @jkotin Please take a look at the design variations here and let me know what you think:
Disclaimer: You will definitely find the correct names don't match with the correct addresses as well as membership/birth/death years & the position of addresses and pins on the map are not correct – please ignore these as the purpose of these designs is not to communicate correct data

[2020-05-22 19:21] jkotin commented on #606
@gissoo The maps look amazing!  I'm going to need the weekend to review closely. If you'd like preliminary notes now, I can send them and then follow-up.  Of I can sent notes on Sunday.  Thank you for all this incredible work.

[2020-05-22 21:18] rlskoeser opened #642 "100 years ago twitter bot & review page"
I'm working on this as R&D, but have some questions and notes and thought it would be easiest to create an issue to track them and test the work.

6/27/2020 still todo
- [x] handle multiple authors
- [x] include editor(s) if no authors
- [x] twitter credentials in local settings
- [x] unit tests

[2020-05-22 21:31] rlskoeser commented on #642
@jkotin @clmahoney some notes and questions on my 100 years ago twitter implementation

I'm building a login-only view where you'll be able to see upcoming tweets and check if there are any problems with the data or the twitterbot code — proposing we use the review for a while without automatically tweeting to check for any errors.

I propose we link to specific lending cards when possible (i.e. f

[2020-05-22 21:55] jkotin commented on #606
@gissoo -- I was able to make some notes this afternoon, so I send them along now.  I'll return to the maps over the weekend and see if I have anything to add or revise. My notes are in no particular order:

1. Member names should appear as: first name last name.

2. Address format should be:

First Name Last Name
Number Street
Paris Arr

For example:

Sylvia Beach
12 rue de l'Odeon
Paris 6e

3. I

[2020-05-23 00:56] jkotin commented on #642
@rlskoeser This looks great. Responses:

1. Re: "How important do you think is it to consolidate events for the same member?" Not important. If you mean that there will be separate tweets if a member joins and borrows books on the same day. That's totally fine, maybe even preferable.

2. Re: I'm happy with either option: "an issue of" or given the exact issue number or date. (Different periodicals

[2020-05-24 14:24] i-davis commented on #626
@rlskoeser @jkotin @clmahoney : I think I have a couple questions: sorry to come late to the party & need explanations!

My first question is this: right now, it looks like when the code adjusts someone's start and end dates, it makes the start date be the day after the end date of the last subscription. For instance, the second subscription on Henri and Hélène Maspero's joint account has a purcha

[2020-05-24 14:43] jkotin commented on #621
This is perfect! @rlskoeser and @gissoo -- would it be OK with you if I occasionally include links in the public notes?  For example:

https://test-shakespeareandco.cdh.princeton.edu/books/congreve-best-plays-old/

If it's OK, could we make those links open in a new window?

[2020-05-24 14:43] #621 closed

[2020-05-24 15:41] rlskoeser commented on #626
@i-davis quick response so I'm hopefully not a blocker for you testing today — I got this wrong on the first go-round of implementing this, and we didn't catch it (I should have given a list like this and requested more thorough input & testing on the logic). I tried to correct it in the latest version, but I don't expect it to fix the renewals that were recalculated incorrectly in the first migra

[2020-05-24 16:31] i-davis commented on #626
@rlskoeser : thanks for this response!! & sorry again to need the explaining! Then yes, the subscriptions that aren't labeled as renewals look right to me, the start dates are good!

[2020-05-26 14:09] rlskoeser commented on #626
@jkotin do you want to do any further review on this one?

[2020-05-26 14:13] jkotin commented on #626
@rlskoeser no. Will @i-davis need to manually correct the first go round implementation?  If so, would you send him instructions when convenient?

[2020-05-26 14:13] #626 closed

[2020-05-26 14:18] rlskoeser commented on #626
@jkotin I expected there would be some manual corrections, but looking at this list I'm not seeing very many — but I'd be glad to confer with @i-davis on that. I was thinking it should be after this release goes out, but maybe I'd better run a query like this one in production before I do the migration so we can compare that also.

[2020-05-26 14:32] rlskoeser commented on #621
@jkotin I think it's great that you can include links, it seems like it will add a lot of value; I don't have any problems with that. I don't know of any way to programmatically make the links open in a new window, and it seems like you might sometimes want to link to pages on the site.

It looks like this notation might work, depending on our markdown parser:
`[link](url){:target="_blank"}`
You c

[2020-05-26 15:03] gissoo commented on #606
- Design-wise this makes sense to me, however I wanted it to be more consistent with the "list view" where we show the member's name "last name, first name" – I do think "first name, last name" is generally easier to read. There is no sorting here either so I think it should be fine? – Would defer to @rlskoeser in case it creates any issues I'm not aware of.

- @jkotin Our idea is to have it be th

[2020-05-26 15:16] thatbudakguy commented on #600
@gissoo as per our conversation when discussing the map, would you mind checking if your browser versions are all up-to-date and then trying again?

[2020-05-26 15:21] thatbudakguy commented on #630
this definitely sounds right since we don't want to mess up the field type getting used for other purposes.

[2020-05-26 15:38] thatbudakguy commented on #606
a few notes on @jkotin's comments before I take a look at the designs in detail; will try to use same numbering:

3. We talked about having arrondissement demarcations only appear when the filter is used; I think this is feasible.
4. It's fairly trivial to ensure that the arrondissement polygons do not overlap markers and popups; this concept of "layering" and depth is well-represented in the map

[2020-05-26 15:55] rlskoeser commented on #642
@jkotin thanks for the responses.

1. Great — much easier to do separate tweets. Maybe we could schedule them near each other, if we want.
2. Given the variety of periodical and volume formats, I'm inclined to just stick with "an issue of"
3. I like your proposal for multiple authors. Looks like CMS doesn't switch to et. al. until over 3, but three names seems like a lot for a tweet. Ok to do two

[2020-05-26 16:00] jkotin commented on #642
Perfect. Re: 3 -- I agree that >2 should get an et al. It will be rare anyway.

[2020-05-26 16:43] gissoo commented on #600
@thatbudakguy Thanks for writing. After we talked last week I updated all my browsers :D
I'll test this again today. At the moment I'm having issues with accessing the test site (on my side, trying to fix in a few minutes)

[2020-05-26 17:51] gissoo commented on #542
- Yes, they would show on hover. What I mean is the cursor becomes the magnifying glass – that was my original intention with v1. The magnifying glass does not have a designated spot. Is this feasible? I don't think having it in the middle makes sense.

- Is it feasible to have a text above the image "select image to zoom in/out"?

[2020-05-26 17:58] rlskoeser commented on #542
@gissoo oh, we just set the cursor to `zoom-in`? That's great.

We can add the text to display on mobile/tablet if you think it's necessary/helpful.

[2020-05-26 18:03] gissoo commented on #625
@thatbudakguy thank you so much!! This looks right now!

[2020-05-26 18:03] #625 closed

[2020-05-26 18:13] gissoo commented on #600
@thatbudakguy I tried this again now. Thank you!!! They all look perfect on mobile. The only one that still shows very thin lines is Chrome on my desktop (I tried two machines and updated not only the browsers but also one of the machines :D – I really don't know what's wrong with the chome on desktop, it's okay on mobile). But I think it's not a big deal and it's fine.

[2020-05-26 18:21] thatbudakguy commented on #600
fantastic - thank you for trying them all out!! go ahead and close the issue if you think it's done.

[2020-05-26 18:38] gissoo commented on #590
@thatbudakguy These look great!!! You're AWESOME!!!

I assume there are people whose cards are not on finding aids and therefore the finding aids link won't be active for them, like the person below. On desktop for Safari, Firefox, and Chrome the finding aids icon changes color on hover to a slightly different grey, I think if we can disable that it would be better, so it won't change color at all

[2020-05-26 18:42] #600 closed

[2020-05-26 18:47] rlskoeser commented on #606
Thanks everyone for all the careful thinking about this map feature! We need to be careful of complications and additional features, or we won't be able to complete it this week.

I still have some questions about how leaflet will handle multiple pins at the same exact location and whether they need to be combined (i.e., can we have multiple pins for multiple different members at the same hotel or

[2020-05-26 19:00] gissoo commented on #620
@thatbudakguy Okay so currently looking up "Buddenbrooks" and "The Diary of Samuel Pepys" on the _test site_ doesn't bring up any notes like they are now on the live site :D

But I'm testing with "The 12:30 from Croydon" and "1919" (which has a "hello there" as its public note – perhaps done by you for testing) – the public notes look fine on all browsers on desktop and iOS.

![Screen Shot 2020-05

[2020-05-26 19:01] #620 closed

[2020-05-26 19:02] jkotin commented on #606
@rlskoeser I really worry about the membership date issue. An overarching Project policy has been not to introduce new errors into the data.  Consider this scenario: a user delimits to members from 1938 and Hemingway's address in 1925 appears, yet we know that that address is not valid for 1938. This scenario would undermine the Project.

Is there a way to avoid it?  Practically, we will never be

[2020-05-26 19:03] gissoo commented on #542
@rlskoeser Yes!! Thank you!!! I'm sorry that I thought I was so specific and yet I was still so vague :\
It would be great to add the text for displaying on mobile/tablet! I think it will be helpful.
I'll work on the enlarged image sizes now that it seems we have reached some agreements here.

[2020-05-26 19:03] thatbudakguy commented on #606
Looking at the designs, I have some more questions about differences between this and the member detail map. In my memory, we were trying to have the two maps align as much as possible, but it seems like there's still a lot of divergence. There are a few minor differences and one major one:

1. The pins are now black, with a noticeable outline, and appear to be green when selected. This is minor,

[2020-05-26 19:07] thatbudakguy commented on #606
@jkotin imo no new errors are being introduced. we just need to be clear that the search affects members, not addresses - it is not inaccurate to show hemingway's 1925 address if we limit to members from 1938, because hemingway was a member at that time and we need to show all his addresses. the address may be invalid for that year, but the membership is not, and the filter is called "membership y

[2020-05-26 19:31] jkotin commented on #606
Thank you @thatbudakguy -- I see your point, but this still seems like a significant problem for me. Users will, I think, assume that the map implies contemporaneity — that by delimiting to 1938, they are seeing addresses from 1938.

But this connects to a larger issue that I've been thinking a lot about. How might the map be important and/or useful?  What are the user stories for going to the map

[2020-05-26 19:35] rlskoeser commented on #606
@jkotin would it help if we display the dates for the address if known and explicitly indicate dates are not known otherwise?

Seems like the only other simple solution is to disable the membership years filter — but it seems like that takes away a lot of the power of this page.

[2020-05-26 19:36] gissoo commented on #606
- I'm having a hard time imagining how users would read and navigate multiple pins at the same location.

- I agree with this one.

- I don't understand what it would be like without this (just show one address for the member? If yes, how do we pick that one address/based on what logic?)

- So you mean make it like this for instance?:

"1 total address and 2 total members"?
Or
"1 total address
2 t

[2020-05-26 19:41] gissoo commented on #606
@rlskoeser @thatbudakguy Even though I understand your logic, I don't think it makes sense for usability. Is there any easy way to make the membership years not usable on this tab? I think it also totally makes sense to not "remember the user's selected date range so it is set when they return to the list view, or clear it out when they switch to the map view" as Nick was asking about earlier.

I

[2020-05-26 19:42] jkotin commented on #606
@rlskoeser Would you say more about how this might work? I worry that the datawork/research required would be overwhelming.  I also worry about having uncertaintyicons or the like for addresses, and that causing confusion.

[2020-05-26 19:50] jkotin commented on #606
As a general note, Cliff, Jesse, and I really struggled thinking about the value of seeing all the addresses at once, not connected by single date. (When the Project started, we had a fantasy of having a "slider" on the map showing how the S&Co community changed for the its twenty-year existence.) We focused on the Right Bank map because the dates didn't really matter: it was interesting to see th

[2020-05-26 20:05] gissoo commented on #606
- Thanks for writing @thatbudakguy I had some notes on this above, I think for the purposes of this page it is okay if the pins are different. The pin on the biography page is not interactive, logically to me it is "selected" in the sense that it is showing up on the biography page it belongs to, so it makes sense for it to be green. Style-wise it would be better if it's like the green icon on the

[2020-05-26 20:45] thatbudakguy commented on #606
@jkotin in my mind, the primary use case for the map is investigating geographic communities of readership. being able to narrow down a search to just members who borrowed _Ulysses_ and then immediately see the geographic distribution of where they lived is a powerful tool. controlling the map display by refining a subset of members is what gives it this power.

do we have FAQ content about the ad

[2020-05-26 20:51] jkotin commented on #606
@thatbudakguy Awesome -- exactly right. I think I was being obtuse: I didn't understand that the current conception of the map would allow users to delimit members who borrowed a specific book. That is indeed powerful.  I still don't follow how member dates are necessary, although I do understand how including member dates would make implementation more straightforward by maintaining the symmetry

[2020-05-26 20:58] thatbudakguy commented on #606
@jkotin sorry - I should have been clearer. We can't do that yet - I was referring to the book filters on the member search, which are not MVP. We _can_ currently support queries of the form "Where did all the Americans live" or "Where did people born between 1883 and 1900 live" (i.e. the Lost Generation).

[2020-05-26 20:59] gissoo commented on #606
@thatbudakguy Are you saying we can do this in the map view? Or that this is how you imagine the map to be most useful? Because there are no filters to allow for it, and the keyword search is just for member names.

[2020-05-26 20:59] gissoo commented on #606
@thatbudakguy ahhh thanks :D

[2020-05-26 21:03] jkotin commented on #606
Right!  I understand. I agree that the demographic searches are useful, although our data about age and nationality is quite limited.  Still U.S. v. French will be very cool.

I'm still hung up on the membership dates filter. I can't see how it would work without causing confusion, even false beliefs. Yet I agree that it would, in ideal circumstances, be powerful.

The book filter is ultimately wh

[2020-05-26 22:14] gissoo commented on #542
@rlskoeser [This is how I'm thinking about the card sizes](https://app.zeplin.io/project/5c48e7313d2b13bf7fc9fe14/screen/5ecd93618bc3ca4a1dd5c0f7)

Does it make sense to you?

[2020-05-27 14:20] thatbudakguy commented on #606
responding to @gissoo's comments:

I like the increased contrast between the black & green versions (and the outline helps with visibility too). Could we just use that on the member detail map as well, so it's consistent?

I'm willing to at least try this and see if it's legible. There might be some leaflet plugins or options to try to move around the popups so that they don't all overlap so much,

[2020-05-27 14:26] rlskoeser commented on #542
@gissoo yes, I think I should be able to figure out what IIIF sizes I need from that.

[2020-05-27 14:46] rlskoeser commented on #201
@thatbudakguy this is at least 8pts, right?

[2020-05-27 16:52] gissoo commented on #624
@rlskoeser @jkotin [Here are all the screens where the icon is applied.](https://app.zeplin.io/project/5c48e7313d2b13bf7fc9fe14/dashboard?seid=5eb17d4d9361e31e8fa64210)

- The purpose of this icon is to communicate that the link will take the user outside of the site. This icon is universally known which best communicates this concept. I only customized it a bit visually. I am assuming this icon i

[2020-05-27 18:09] jkotin commented on #624
This looks great. On desktop and tablet, would the icon look better directly to the right of read online?  If not, I'm happy to accept and close!

[2020-05-27 18:12] rlskoeser commented on #624
Icon looks good. I also wondered about the placement on desktop/tablet.

I had planned to apply the style based on the attribute `target="_blank"` so it would work anywhere. If we add external links elsewhere in paragraph text (e.g., if our markdown filter supports it and Josh includes them in public notes), it could occur in the middle of paragraph text. In fact, we probably do have external link

[2020-05-27 18:32] thatbudakguy commented on #624
if the purpose is to indicate if the user would leave the site, wouldn't you want to key it on an external URL, rather than if it opens in a new tab?

I think

[code]
...would show it for all non-relative links by default and hide it for any that point to a location with `shakespeareandco` in the URL or are localhost (dev server).

[2020-05-27 18:33] rlskoeser commented on #624
thanks @thatbudakguy totally logical, I mixed up the reason we were doing this with the actual functionality

[2020-05-27 18:38] thatbudakguy commented on #624
also should've mentioned: agree with @rlskoeser and @jkotin that the placement to the right of the link is logical wherever we have space

[2020-05-27 18:43] gissoo commented on #624
@jkotin @rlskoeser @thatbudakguy Thanks for writing. Should have mentioned that the reason I have positioned the icon this way is that it's the most commonly used position for it and would help the icon in being recognizable (it does add meaning to it visually here).

I can lower it further but I don't want to align it completely with the link, I think the visual meaning here is more important tha

[2020-05-27 18:45] rlskoeser commented on #624
@gissoo can you provide an example of how it will look on an external link in paragraph text? There are examples in the [card source essay](https://shakespeareandco.princeton.edu/sources/cards/)

[2020-05-27 18:47] gissoo commented on #624
@rlskoeser Thanks for pointing out, I wanted to ask where else this will apply so I can mock up. Anywhere else other than the example you just provided?

[2020-05-27 19:31] rlskoeser commented on #522
@jkotin do these notations take precedence over the base event type? I had assumed they were being used to clarify generic events, but I was looking for some examples to test and found a borrow that has the "SBGIFT" notation — do I display "Borrow" or "Gift" ?

[2020-05-27 19:45] jkotin commented on #522
Notation takes precedence. But would it be possible to create a list of conflicts so Ian and I can investigate?

[2020-05-27 20:04] rlskoeser commented on #522
@jkotin @i-davis sure, here's a list. Looks like they are all borrows and most of them are crossed out.

Is there any difference between `NOTATION: STRIKETHRU` and `STRIKETHRU` ? I see three instances of the first, 294 of the second.

Here's a quick report of non-generics with a nonstandard type (account, event, event type, new event label)

Account #4815: Denis Duperley, Event for account #4815 ?

[2020-05-27 20:07] jkotin commented on #522
Thank you @rlskoeser -- @i-davis would you look through this issue and report back about 1/ non-generic events with non-standard type events, and 2/ the difference between the two strikethrus?

[2020-05-27 20:17] rlskoeser commented on #631
@jkotin @gissoo how about this for circulation table and cards list?
![Screen Shot 2020-05-27 at 4 15 28 PM](https://user-images.githubusercontent.com/691231/83067867-610a5780-a035-11ea-9878-b4765680fbd3.png)
![Screen Shot 2020-05-27 at 4 15 37 PM](https://user-images.githubusercontent.com/691231/83067876-65367500-a035-11ea-9304-aec53d373c26.png)

The card still links to the first name because of

[2020-05-27 20:20] jkotin commented on #631
Looks good to me. How does it look with other cards -- is the spacing still grid-like? What's important to me is that both names are on the circulation lists too.

[2020-05-27 20:22] rlskoeser commented on #631
card browse showing other cards:
![Screen Shot 2020-05-27 at 4 20 59 PM](https://user-images.githubusercontent.com/691231/83068281-205f0e00-a036-11ea-8cab-0a1260cd6e54.png)
circulation activity showing other rows:
![Screen Shot 2020-05-27 at 4 21 09 PM](https://user-images.githubusercontent.com/691231/83068290-2228d180-a036-11ea-9d95-9cf1b0ed1f12.png)
circulation activity mobile view:
![Screen Sho

[2020-05-27 20:27] jkotin commented on #631
Looks perfect to me.  I'll wait on @gissoo to close.

[2020-05-27 20:28] rlskoeser commented on #631
Don't close yet! I need to commit the code and have Cate review on the test site. But wanted to make sure you and @gissoo were both ok with the approach.

@gissoo any concerns or requests?

[2020-05-27 20:43] gissoo commented on #631
@rlskoeser Thank you. It's fine, but the spacing between the date and the names does not seem to match the designs visually at least, on Zeplin it's 5px. It would be much better if it can be increased to match the designs (or I can make a separate issue for it). If the spacing between the two names are less 1px or less, it might be helpful to make them 2px.

[2020-05-27 20:46] rlskoeser commented on #631
@gissoo you're talking about the spacing on the cards? I'll go ahead and adjust now.

[2020-05-27 20:47] gissoo commented on #631
@rlskoeser Yes, on the cards browse page not the card image viewer. Thank you!!

[2020-05-27 21:09] rlskoeser commented on #637
Confirmed on the test site that search results on the members page have correct aria labels now

[2020-05-27 21:09] #637 closed

[2020-05-27 21:15] rlskoeser commented on #624
@gissoo sorry I didn't answer — I can't think of any, I think having one example in paragraph text should be enough.

[2020-05-27 21:17] gissoo commented on #624
@rlskoeser @jkotin @thatbudakguy I've revised the position of the icon for desktop and tablet based on my previous comment. Please let me know what you think. All the pages where the icon is currently needed are:
- [Bibliography pages](https://app.zeplin.io/project/5c48e7313d2b13bf7fc9fe14/dashboard?seid=5eb17d4d9361e31e8fa64210)
Note: On these pages the icon is shown with the first link on the pa

[2020-05-27 21:33] jkotin commented on #624
Looks good to me. I sign off.

[2020-05-27 21:50] gissoo commented on #542
@jkotin @rlskoeser Just want to make sure we agree on this and we can close it. [Here is what I'm proposing](https://app.zeplin.io/project/5c48e7313d2b13bf7fc9fe14/screen/5ecedfe7effff92823006c4a)

Please take a look at the hint text and its language, let me know what you think about this. (can't be grey because there is not enough color contrast with the background on this page)

And, this is wha

[2020-05-27 22:17] jkotin commented on #542
Thank you @gissoo. It's a little difficult for me to imagine how it works in practice. (My brain.) But I think this looks great.  Questions and notes:

1. How does the magnifying glass look on a very "busy" card? The Benjamin card has a lot of white space. Most cards are covered in writing. The magnifying glass might be obscured.

2. Could the grey of the background be the same color independent o

[2020-05-28 13:30] rlskoeser opened #646 "atypical card images are displayed incorrectly"
**Describe the bug**
Lending library cards that include atypical images are not displaying them in the correct aspect ratio.

**To reproduce**
Steps to reproduce the behavior:
1. Go to the card list for a member like André de la Forest-Divonne that includes an atypical card https://shakespeareandco.princeton.edu/members/forest-divonne/cards/
2. Browse the cards or click into the detail
4. Membersh

[2020-05-28 13:32] rlskoeser commented on #646
@thatbudakguy do you know of a simple CSS solution to have a placeholder image for a variety of image formats? When I added the default/placeholder image I constrained the size so it would render properly, but (of course) that messes up the images that are sized differently.

[2020-05-28 13:47] rlskoeser commented on #646
Ah, I found the problem. I need to put the background image on the `::before` , which is apparently only rendered if the image _isn't_ rendered.

[2020-05-28 14:44] gissoo commented on #542
- I tested with them too, it will still be visible on these images. This is true especially because there is a sudden change from the "hand icon" cursor to the "magnifying glass" cursor.

- Thanks for pointing out! Yes, I have revised it (that grey was not intentional here)

- I defer to @rlskoeser on this. I'm okay either way.

- The language I picked was me being worried that some users won't kn

[2020-05-28 15:19] jkotin commented on #542
@gissoo Great!  I'm happy to sign off. I don't think we need the zoom for tablet/mobile, but I defer to @rlskoeser too on this. If we do need language for the zoom, "tap image to zoom in/out" is fine with me.

[2020-05-28 15:21] rlskoeser opened #648 "As a user, I want to see larger size card images so that I can look at cards in more detail and decipher difficult handwriting."

[2020-05-28 15:38] rlskoeser commented on #542
It's easier for us to implement features like this the same way across devices, but I do think it's valuable for tablet/mobile because we can provide a higher resolution version of the image, rather than just enlarging the existing one.

[2020-05-28 15:42] rlskoeser commented on #624
@gissoo on "Bibliography - Ex 3 - Tablet - V5" the icon is still above and to the right of the text — is that intentional or did you miss updating that one?

Assuming that you just missed updating that one, I also think these styles look good and can sign off.

[2020-05-28 15:43] rlskoeser commented on #509
@jkotin do you want postal codes displayed for non-Paris addresses, or should we just display nothing if there is no arrondissement?

[2020-05-28 15:50] gissoo commented on #624
@rlskoeser Thanks for catching that! Yes, I had missed it. Great! I'll close the issue then since you both agreed to sign off.

[2020-05-28 15:51] #624 closed

[2020-05-28 16:00] gissoo commented on #542
@jkotin Thanks for writing.

@rlskoeser Thanks for writing! I was suspecting that was the case! It will be helpful then, I vote for applying it to tablet and mobile.

Great, then just to make sure, we are agreeing that this feature will be on all devices, where once a card image is enlarged it's either full height or full width depending on device and image orientation (following the design guidel

[2020-05-28 16:07] clmahoney commented on #611
CSV:
- YES, I saw that arrondissement and postal codes are now included in the export
- YES, members with addresses in Paris have correct arrondissments and postal codes noted
- YES, members with multiple addresses in Paris have multiple arrondissments and postal codes included  - checked Antoine-May
- YES, members who live outside of Paris don't have arrondissments - checked M.E. Adkins, whose ad

[2020-05-28 16:07] #611 closed

[2020-05-28 16:10] #542 closed

[2020-05-28 16:17] clmahoney commented on #631
- YES, members who have shared accounts now both show up in the circulation list if their card is at Princeton. I tried with the Edels and with Wescott/Wheeler:
![Screen Shot 2020-05-28 at 12 10 53 PM](https://user-images.githubusercontent.com/16673934/83166534-104e3980-a0dd-11ea-84dc-e232afd8d989.png)
![Screen Shot 2020-05-28 at 12 11 38 PM](https://user-images.githubusercontent.com/16673934/8316

[2020-05-28 16:47] rlskoeser commented on #631
@clmahoney it doesn't look to me that de Roos and Perron are marked as a shared account in the database — here's a screenshot of an admin account search for "perron" on the test site:
![Screen Shot 2020-05-28 at 12 46 28 PM](https://user-images.githubusercontent.com/691231/83169663-5c02e200-a0e1-11ea-9544-6fa72329efdf.png)

[2020-05-28 16:59] jkotin commented on #509
@clmahoney @i-davis Would you help advise on this? What did standard mailing addresses look like between 1920 and 1940 for non-Paris France, and for the U.S. and elsewhere?

[2020-05-28 17:00] jkotin commented on #509
Zip codes in U.S. > 1963.

So I say no zip/postal codes ever for addresses.

[2020-05-28 17:02] jkotin commented on #509
France: >1964.

Sorry for false alarm @clmahoney and @i-davis -- no need for additional research.

[2020-05-28 17:07] clmahoney commented on #631
@rlskoeser oh of course! They probably just aren't joined in the test site. But they are on the production site! This looks all good to me then.

[2020-05-28 17:07] #631 closed

[2020-05-28 17:12] clmahoney commented on #632
Desktop:
- YES, on the book list page each book now includes a circulation block. See here:
![Screen Shot 2020-05-28 at 12 49 09 PM](https://user-images.githubusercontent.com/16673934/83170129-10046d00-a0e2-11ea-8ed6-4d6fd57e60ed.png)
- YES, the info matches the info on the individual book biography page:
![Screen Shot 2020-05-28 at 12 43 47 PM](https://user-images.githubusercontent.com/16673934/8

[2020-05-28 17:12] clmahoney commented on #632
I've checked other single borrows and don't see the repeat so I'm not sure what's happening with Varney.

[2020-05-28 17:17] rlskoeser commented on #632
@clmahoney I think there are two footnotes for that event, can you confirm?

[2020-05-28 17:19] clmahoney commented on #632
@rlskoeser yes you're right!!

[2020-05-28 17:19] clmahoney commented on #632
@rlskoeser is there any way to to an export to see if there are multiple identical footnotes?

[2020-05-28 17:21] rlskoeser commented on #632
@clmahoney no, but I can probably come up with a quick query to check for multiple footnotes — probably not too many events with multiple footnotes, right?

[2020-05-28 17:23] clmahoney commented on #632
@rlskoeser I don't think there should be, but it would be good to know and do a cleanup of the repeats so this display issue doesn't happen again. Should I make you an asana task?

[2020-05-28 17:30] rlskoeser commented on #632
@clmahoney I will just do it now. Where do you want me to put the list of events I find with multiple footnotes?

[2020-05-28 17:34] clmahoney commented on #632
@rlskoeser Thank you! Maybe just in the data work folder in drive?

[2020-05-28 17:35] clmahoney commented on #632
Mobile:
- YES, on the book list page each book now includes a circulation block. See here:
![IMG_2236](https://user-images.githubusercontent.com/16673934/83173217-b2265400-a0e6-11ea-96b5-fe6853812a9f.PNG)
- YES, the info matches the info on the individual book biography page:
![IMG_2237](https://user-images.githubusercontent.com/16673934/83173220-b2beea80-a0e6-11ea-9512-d29f5c508823.PNG)
- YES, bo

[2020-05-28 17:57] clmahoney commented on #632
Tablet:
- All looks good here too
- YES,  each book has a circulation block with the number of events and years that the book circulated
![101494587_197551764659890_8797318277593300992_n](https://user-images.githubusercontent.com/16673934/83176262-24009c80-a0eb-11ea-9c59-c46fcd4d235d.png)

- YES, the book biography page has the same info!

![101177344_716178115884630_8615051706775896064_n](https:/

[2020-05-28 17:59] i-davis commented on #626
@rlskoeser : happy to confer however & whenever you like -- just lmk!

[2020-05-28 18:03] clmahoney commented on #646
- YES this works beautifully. Tried with Forest-Divonne:
![Screen Shot 2020-05-28 at 2 01 24 PM](https://user-images.githubusercontent.com/16673934/83176657-cc166580-a0eb-11ea-8d74-53ee1a2a1eb5.png)
and
![Screen Shot 2020-05-28 at 2 01 15 PM](https://user-images.githubusercontent.com/16673934/83176667-cde02900-a0eb-11ea-9459-864b6a9be848.png)

[2020-05-28 18:05] clmahoney commented on #646
Mobile: works as it should here too!
Tablet: same!

[2020-05-28 18:05] #646 closed

[2020-05-28 18:10] clmahoney commented on #648
- YES, I tried this with issue 646: I tried with Forest-Divonne cards, Killen cards, Aldington cards on DESKTOP, TABLET, and MOBILE.

Is it fine that on Desktop, I don't see the text above the image that I see on Mobile and Tablet that "Tap image to zoom in/out"? On Desktop, I get the magnifying glass when I move over the image.

[2020-05-28 18:16] #632 closed

[2020-05-28 18:17] rlskoeser commented on #648
@clmahoney oh, I should probably have given you links to zeplin — that's exactly what we expect. Magnifying glass cursor for desktop, text for mobile and tablet.

[2020-05-28 18:18] i-davis commented on #522
@jkotin @rlskoeser : 1/ Happy to! Will do that this afternoon. 2/ I'm not sure if I'm looking at the same NOTATION: STRIKETHRU as you, @rlskoeser. I see 23 instances of STRIKETHRU and NOTATION being together in the notes (I just went to "Events" and searched for both of the terms), and it's always when a strikethrough is accompanied by a note about something. Am I looking in the right place?

[2020-05-28 18:30] rlskoeser commented on #522
@i-davis I may not have looked carefully enough! I thought there were a small number of records that had 'NOTATION: STRIKETHRU' as a single string — but it sounds like you are confirming, it is correct for me to be looking for just the text 'STRIKETHRU'.

[2020-05-28 18:32] i-davis commented on #522
@jkotin @rlskoeser : Okay, so, here are my thoughts:

1. The crossed outs could all stay the same. Or we could change the ones that have no return dates to general events. I think the ones that have return dates were actual borrows, and were crossed out afterward for some reason. The ones that have no return dates were likely not borrows: they were what @jkotin describes above, events where member

[2020-05-28 18:39] i-davis commented on #522
@rlskoeser : I trust you more than me! I really might just be looking in the wrong way! But if I'm not then yeah, I don't think NOTATION: STRIKETHRU means a particular type of strikethrough.

[2020-05-28 18:40] rlskoeser commented on #522
@i-davis on point 2) I think you're correct, and to me it would make the most sense to remove the borrow events and create generic events for the loans and gifts.

For point 1) I don't think I know enough to comment here; there are actual borrows without return dates too. I don't think we have a compelling reason to revisit all the crossed out borrows and convert them to generics right now.

[2020-05-28 18:43] i-davis commented on #522
@rlskoeser : cool, re point 2; and good point, re point 1! That makes sense to me.

[2020-05-28 18:47] jkotin commented on #522
Thank you both!  @i-davis would you do 2, i.e. change the borrow events to generic events for loans and gifts?

[2020-05-28 18:59] clmahoney commented on #648
@rlskoeser OK great! I'll let @jkotin look at this too.

[2020-05-28 19:01] #648 closed

[2020-05-28 19:01] jkotin commented on #648
Oh, should I reopen based on the issues @gissoo noticed?

[2020-05-28 19:38] i-davis commented on #522
@jkotin @rlskoeser : okay I fixed them all, except for the Rodman and Massey, which I found out were mistakenly labeled as gifts (deleted that tag!).

[2020-05-28 19:55] rlskoeser commented on #640
I couldn't find any pages besides the home page where this was a problem. I added a title there (the styles already were set to do the right thing).

[2020-05-28 19:57] thatbudakguy commented on #590
@gissoo thanks for the images & the clear explanation here; it helped a lot!

[2020-05-28 20:20] jkotin commented on #509
This works great, and I'm happy to close. I did notice one thing: the leading on the superscript line is bigger than on the non-superscript line. I commented on a similar issue in Wagtail. See screenshot.  This isn't a blocker for me, but nice it could be fixed at some point.

<img width="798" alt="Screen Shot 2020-05-28 at 4 16 23 PM" src="https://user-images.githubusercontent.com/12616674/831893

[2020-05-28 20:39] gissoo commented on #606
More short-term actions that will be taken regarding this issue:
- RSK to query people with multiple addresses
- Josh to see how feasible to get dates from these

More context:
From the conversations we had on this feature we agreed to hold off on it because the addresses on the map do not align with the active membership years filter, i.e., if the membership year is set to 1920-1921, all of membe

[2020-05-28 20:39] rlskoeser commented on #629
Can confirm that counts are now updating on the test site as I filter the members search (noticed because I was watching the counts that when I clear lots of active filters it seems to clear them quickly one at a time, which was kind of wild!)

[2020-05-28 20:39] #629 closed

[2020-05-28 21:01] #606 closed

[2020-05-28 21:02] rlskoeser commented on #509
I'll add a `line-height: 0` to superscripts & subscripts which I think may help. Ok to close?

[2020-05-28 21:03] #509 closed

[2020-05-28 21:05] rlskoeser commented on #648
Let's leave it closed, but @gissoo would you create a new issue to document the problems you noted?

[2020-05-28 21:06] gissoo commented on #648
@rlskoeser sure

[2020-05-28 21:08] rlskoeser commented on #639
Can confirm this is working as documented on the test site, but kind of a bummer not to be able to easily zoom in. @thatbudakguy is there some way to enable scroll zooming when you select the map (in future)?

[2020-05-28 21:11] rlskoeser commented on #640
Home page has an h1 and no errors with WAVE browser test.

[2020-05-28 21:11] #640 closed

[2020-05-28 21:12] rlskoeser commented on #639
I'll go ahead and close since this is working as expected and addresses the accessibility problem.

[2020-05-28 21:12] #639 closed

[2020-05-28 21:15] gissoo commented on #590
@thatbudakguy I tested all! These look perfect now! Thank you!!!

[2020-05-28 21:15] #590 closed

[2020-05-28 21:27] gissoo commented on #622
@thatbudakguy thank you, this matches the designs now.

Could we match it to the designs further on both "circulation" and "member borrowing activities" by making the dates align this way:

Feb 1920 –
Feb 1921

rather than
Feb 1920 –
 Feb 1921

It doesn't look good when they are not aligned.

[2020-05-28 21:29] #636 closed

[2020-05-28 21:29] gissoo commented on #636
Thank you so much @thatbudakguy this is great!!!

[2020-05-28 21:32] gissoo opened #650 "Revise the enlarged card image so that the page behind it is not scrollable/no scrolling would occur when the image is enlarged"
[This is a link to the screen recording that shows this problem](https://cdhprinceton.slack.com/archives/C2YJR4VF0/p1590690643197400?thread_ts=1590687621.189600&cid=C2YJR4VF0)

[2020-05-28 21:34] gissoo opened #651 "Revise the enlarged card image on iOS Firefox so that it does not appear full height and its top part is not cut off."
[This is a link to the screen recording that shows this problem](https://cdhprinceton.slack.com/archives/C2YJR4VF0/p1590690643197400?thread_ts=1590687621.189600&cid=C2YJR4VF0)

[2020-05-28 21:35] thatbudakguy commented on #622
I'm staring at that trying to figure out what the difference is....I really can't figure it out?? Can you explain more?

[2020-05-28 21:35] clmahoney commented on #522
- YES, the "Loan" notation works. Checked "The Quintessence of Ibsenism" loaned to James Joyce. See activity page:

![Screen Shot 2020-05-28 at 5 33 21 PM](https://user-images.githubusercontent.com/16673934/83196286-a13b0a00-a109-11ea-92c7-0fc353a33ad0.png)

Card page:

![Screen Shot 2020-05-28 at 5 33 45 PM](https://user-images.githubusercontent.com/16673934/83196291-a5672780-a109-11ea-90af-11705

[2020-05-28 21:38] clmahoney commented on #522
- YES, the "Gift" notation works. Checked SB's gift to Max Eastman of "Bible Lands To-day".
See borrowing activity:
![Screen Shot 2020-05-28 at 5 36 41 PM](https://user-images.githubusercontent.com/16673934/83196509-068efb00-a10a-11ea-8818-689add56789a.png)
See individual card page:
![Screen Shot 2020-05-28 at 5 36 54 PM](https://user-images.githubusercontent.com/16673934/83196529-10b0f980-a10a-11

[2020-05-28 21:44] clmahoney commented on #522
- YES, "SOLDFOR" Purchase notation works. Tried with Oldenberger's purchase of "The Still Centre.
See borrowing activity:
![Screen Shot 2020-05-28 at 5 42 24 PM](https://user-images.githubusercontent.com/16673934/83197025-d4ca6400-a10a-11ea-9892-12af3bf43d21.png)
See individual card page:
![Screen Shot 2020-05-28 at 5 42 52 PM](https://user-images.githubusercontent.com/16673934/83197038-d98f1800-a

[2020-05-28 21:45] gissoo commented on #622
okay :D I had to get creative with this one and use the ruler on my phone to draw it. See here: (I know you might think it's very insignificant but it's very disorienting over time with multiple rows of content)

How it is:
![Image from iOS (6).jpg](https://images.zenhubusercontent.com/5bf307a69d595b459ec91bb1/09986579-df00-462b-a1cd-108d7a7346ec)

How it was designed to be:
![Image from iOS (7).j

[2020-05-28 21:47] clmahoney commented on #522
- YES, "SOLDFOR" Purchase notation works. Tried with Aldington's sold copy of "Familiar Letters on Important Occasions".
See borrowing activity:
![Screen Shot 2020-05-28 at 5 46 11 PM](https://user-images.githubusercontent.com/16673934/83197318-4d312500-a10b-11ea-8490-7d36b4fe0f24.png)
See individual card page:
![Screen Shot 2020-05-28 at 5 46 28 PM](https://user-images.githubusercontent.com/16673

[2020-05-28 21:51] clmahoney commented on #522
- YES, "Request" notation works! Tried with Paul le Moal's request of Ulysses.
See borrowing activity:
![Screen Shot 2020-05-28 at 5 50 05 PM](https://user-images.githubusercontent.com/16673934/83197660-ce88b780-a10b-11ea-9083-1d96d95fc157.png)
See individual card page:
![Screen Shot 2020-05-28 at 5 50 15 PM](https://user-images.githubusercontent.com/16673934/83197675-d47e9880-a10b-11ea-87c7-d6951

[2020-05-28 21:53] clmahoney commented on #522
- YES, "Crossed out" notation works. I tried with Suter's STRIKETHRU of "Nostromo"
See borrowing activity:
![Screen Shot 2020-05-28 at 5 52 14 PM](https://user-images.githubusercontent.com/16673934/83197823-1dcee800-a10c-11ea-9a78-0f7e1b1082cc.png)
See individual card page:
![Screen Shot 2020-05-28 at 5 52 27 PM](https://user-images.githubusercontent.com/16673934/83197835-22939c00-a10c-11ea-86ac-1

[2020-05-28 21:55] gissoo opened #652 "Revise the spacing of the pub. date label with the date on the mobile borrowing activities so that it matches the designs"
![Image from iOS (1).png](https://images.zenhubusercontent.com/5bf307a69d595b459ec91bb1/bcc4cb60-77af-42e8-9baa-85b2b2dc16de)

The spacing is too tight on the site right now. Here is what the spacing looks like in the designs. I suspect it's not measurable on Zeplin because the text boxes are sized incorrectly. I think the spacing should be about 8px (that's what it is in Sketch, but it should be

[2020-05-28 22:03] clmahoney commented on #522
- YES, I checked all of these specific events (listed above) on the Events export, and yes indeed the correct notation is listed, not "generic".

Can we close? This all looks good to me.

[2020-05-28 22:04] gissoo opened #653 "Revise the spacing between the link and the event on the iOS borrowing activities & circulation pages so that they matches the designs"
Borrowing activities page on mobile (spacing between the item's name and the activity)
![Image from iOS (1).png](https://images.zenhubusercontent.com/5bf307a69d595b459ec91bb1/bcc4cb60-77af-42e8-9baa-85b2b2dc16de)

Circulation page on mobile (spacing between the member's name and the activity)
![Image from iOS (2).png](https://images.zenhubusercontent.com/5bf307a69d595b459ec91bb1/926701ac-68ea-427e

[2020-05-28 22:35] gissoo commented on #648
@rlskoeser  #650 and #651 were created to track this.

[2020-05-28 23:18] #635 closed

[2020-05-29 01:17] jkotin commented on #522
This works great. I'm a little worried about the consistency of the data. But the feature is perfect as far as I can tell!

[2020-05-29 01:17] #522 closed

[2020-05-29 13:38] rlskoeser commented on #630
FYI, slightly relieved to discover — the particularly bad behavior with "of" is because that occurs in so many author names and we have author names boosted very highly. I have an improved configuration I hope to deliver for testing soon that we can put in a hotfix release, but at least this isn't happening with all stopwords.

[2020-05-29 13:39] rlskoeser commented on #489
Moving the member search map out of this epic since it won't be completed in this round and — as we now know — needs to be an epic of its own. Closing since all other members enhanced features were completed in the 1.0 release.

[2020-05-29 13:39] #489 closed

[2020-05-29 13:41] thatbudakguy commented on #650
I noticed this as well; happens on all browsers. @rlskoeser and I discussed yesterday and there's no way to fix it without javascript, so probably lower priority at the moment. fortunately when you close the image you always go back to the top of the page anyway, so the scrolling doesn't really do anything (other than look somewhat weird).

[2020-05-29 13:57] thatbudakguy commented on #622
thank you so much for your clear explanation/image!! this only shows up on iOS Safari, which is why I was confused.

[2020-05-29 14:23] gissoo commented on #622
@thatbudakguy I should comment here before it's later than it already is. Sorry, this happening on all iOS browsers (FF, Chrome, Safari) for me and it's not only on the borrowing activities page, it's also on the circulation activities page on all iOS browsers. I can make another issue to track it on the circulation activities page if you want since this issue is only related to the members borrow

[2020-05-29 14:51] rlskoeser commented on #653
Tested mobile borrowing activity on Chrome, FF, Safari on my desktop and Chrome&FF on my phone (android) — spacing looks better to me.

[2020-05-29 14:54] #622 closed

[2020-06-01 18:37] clmahoney opened #654 "Edition volumes not sorting in numerical order"
**Describe the bug**
Editions are not sorting in volume order if there is no date present/if the date is the same across all vols.

**To reproduce**
See Work #3824, The Collected Essays and Papers of George Saintsbury, 1875–1920. There are 4 volumes, all pub 1923. When I add in editions (vol 1, 2, 3, 4), for some reason 4 pops to the top, when it should be at the bottom.
https://shakespeareandco.p

[2020-06-02 21:07] rlskoeser commented on #654
I was mis-remembering, volume is numeric - it's number that (amusingly) is not. I'll add a secondary sort on volume (after date). I think that will resolve this, but you'll be able to confirm when I get it on the test site.

[2020-06-03 14:50] rlskoeser commented on #638
@thatbudakguy I was struggling to get voiceover to work since it's been so long since I used it, but I did discover that I was setting a useless `aria-described-by` attribute on the SVG instead of `aria-describedby`. 🤦‍♀️

Does it matter that the SVG is added by code? I never successfully heard the description after I changed the attribute, but I'm inclined to attribute that to my difficulties usi

[2020-06-03 16:04] jkotin opened #657 "Design // placement of uncertainty note and alignment of circulation info."
See screenshot. My window is narrow to allow for juxtaposition of two windows on my laptop. Not urgent to fix. Let's keep using the site to see if related issues come up.

<img width="898" alt="Screen Shot 2020-06-02 at 6 18 44 PM" src="https://user-images.githubusercontent.com/12616674/83659961-361e8700-a592-11ea-8f5d-73dbda632943.png">

[2020-06-03 22:41] rlskoeser commented on #654
@clmahoney I added a secondary sort on volume. Please check if this does what you want by adding similar data to this on the test site. Please check that it doesn't mess up any other multivolume or periodical lists, and that it sorts on date first, then volume.

[2020-06-03 22:43] rlskoeser commented on #630
@clmahoney please test the book search to see how it behaves. It should still be possible to search on stopwords like "the" and "of", but they should be deprioritized and not take precedence over other terms the way they were before. Searches on authors should still be more relevant than titles, and unstemmed matches should take precedence over stemmed matches.

[2020-06-04 16:40] clmahoney commented on #654
- YES, I added in volumes again to our example book, The Collected Essays and Papers of George Saintsbury, 1875–1920, and it sorted correctly in numerical order of volume. When I added in a later date to vol 2, 1924 (while all the others, 1, 3, 4 are 1923), the order switched appropriately to put the pub date last.
- I checked a couple of multivolumes already in the system and the order didn't see

[2020-06-04 16:40] #654 closed

[2020-06-04 17:00] clmahoney commented on #630
- YES, this seems to behave well. I searched "portrait of artist" and the top two results were "Portrait of an Artist as a Young Dog" and "Portrait of the Artist as a Young Man". I also searched "letters dickinson" and I got the results I wanted. I searched around for other things and I think this is working fine. I'll leave this for @jkotin to check too.

[2020-06-04 18:09] #630 closed

[2020-06-04 18:41] rlskoeser opened #659 "event footnotes can be edited in different places in django admin, which makes it easy to end up with duplicate footnotes"
## testing notes
This update consolidates all event footnotes so they are always attached to the base (or "generic") event, but makes them visible and editable in django admin on the specific event types.
- check that footnotes have been migrated correctly (not sure how to suggest testing this thoroughly; maybe sanity check the total number of footnotes to see if they are close, spot check a varie

[2020-06-04 19:31] clmahoney commented on #659
@rlskoeser I need a bit more clarification; for the admin view, I should be checking Library Accounts-->Events?

[2020-06-04 19:40] rlskoeser commented on #659
@clmahoney please check Library Accounts -> Events, Library Accounts -> Borrows, Library Accounts -> Purchases, Library Accounts -> Subscriptions, Library Accounts -> Reimbursements

[2020-06-04 19:51] clmahoney commented on #659
- YES, the same footnotes appear on the generic event and specific event edit forms
- YES, I can edit, add, delete footnotes in both of these views and see the changes in the other view
- YES, I can see that there are now footnote options in all event types (new: subscription, reimbursement)

[2020-06-04 19:52] clmahoney commented on #659
- YES, everything looks good on the public end as well

[2020-06-04 19:52] #659 closed

[2020-06-06 15:56] jkotin opened #660 "Design // Spacing on long/multiple names with tall letters/accents"
Not urgent. See screen shot for interference between accent and "p."

<img width="600" alt="Screen Shot 2020-06-06 at 11 54 12 AM" src="https://user-images.githubusercontent.com/12616674/83948646-8c870200-a7ec-11ea-8023-c06a94c39b2a.png">

[2020-06-07 23:13] clmahoney opened #662 "I want periodicals without individual borrow dates to be sorted by year in the book circulation card display"
**Describe the bug**
If a periodical has a month and a year but no specific date, it's coming in last in the card display, even if the year is earlier than other cards with specific dates.

**To reproduce**
See this one borrow from April 1937 on Culver's card:
![Screen Shot 2020-06-07 at 7 11 52 PM](https://user-images.githubusercontent.com/16673934/83982210-d22df280-a8f2-11ea-8bcd-96daadb51368.pn

[2020-06-08 17:18] jkotin opened #663 "Design // sharper card images when enlarged"
Not urgent, minor issue, but I think the quality of the card image should be better when enlarged. As it stands they are a little "hazy" / not-quite-sharp. If this is a tricky fix or would slow down the site significantly, forget it. Here's an example:

https://shakespeareandco.princeton.edu/members/dalsace/cards/4e22c3aa-eca5-4f3a-8ca2-f60590183995/#zoom

[2020-06-08 17:34] jkotin opened #664 "Notation tag // for magazine subscriptions"
Would be very useful to add a notation tag for magazine "subscription" events that would work the same way as "Gift," "Loan," "Crossed Out."

A number of purchased magazine subscriptions are recorded on the lending library cards. Currently we have no way to represent such purchases, save as purchases of generic issues.  A "subscription" tag would resolve this problem.

Example - Teissier subscribe

[2020-06-08 19:56] rlskoeser commented on #664
@jkotin are you thinking of creating generic events with a new notation to indicate the type? That seems plausible to me. If you provide the notation and public label this is easy do add.

[2020-06-08 20:56] jkotin commented on #664
@rlskoeser excellent.  This is exactly that I was thinking. How about NOTATION: MAGAZINESUBSCRIPTION -- and the public label: Subscription -- would that work?

[2020-06-08 21:02] rlskoeser commented on #664
@jkotin Subscription is ambiguous, can we qualify as magazine or periodical subscription?

[2020-06-08 21:04] jkotin commented on #664
@rlskoeser Yes, no problem -- I was worried that it would take up too much space. Let's do "Periodical Subscription" just to keep the diction consistent and change the notation to PERIODICALSUBSCRIPTION.

[2020-06-08 21:07] rlskoeser commented on #664
Sounds good to me.

[2020-06-09 13:41] jkotin opened #665 "Design // spacing for and around non-uniform cards"
Not urgent // The spacing is off on https://shakespeareandco.princeton.edu/members/stirling-monica/cards/ -- I also attach a screen shot. I imagine this is due to the irregular size cards.
<img width="1295" alt="Screen Shot 2020-06-09 at 9 38 41 AM" src="https://user-images.githubusercontent.com/12616674/84154617-54263480-aa35-11ea-942f-b2e297a865eb.png">

[2020-06-10 16:29] clmahoney opened #666 "Periodicals with numbers not sorting in numerical order"
**Describe the bug**
If the periodical has numbers but no volumes, the numbers are not saved in numerical order.

**To reproduce**
See 4585, "New Writing," which does not have vols but has numbers:
![Screen Shot 2020-06-10 at 12 28 42 PM](https://user-images.githubusercontent.com/16673934/84293574-fae20200-ab15-11ea-98b3-9044b4e857fd.png)

**Expected behavior**
Numbers should be listed in numerica

[2020-06-10 16:35] #666 closed, assigned to nobody

[2020-06-11 18:37] rlskoeser commented on #663
@jkotin that image looks clear to me. Can you share a screenshot and also document what device or screen size you're using when you see this? Two main things that are relevant: whether or not you're on a retina-style screen (in which case you get a 2x image) and how wide your browser screen or device is.

[2020-06-11 18:54] rlskoeser commented on #662
@clmahoney please include links to example problem pages on the public site to make it easier to find and reproduce the problem. I can see what's happening in your screenshots but it's not obvious which titles you're looking at.

[2020-06-11 19:11] jkotin commented on #663
@rlskoeser -- I'm on MacBook Pro (15-inch, 2019) -- I usually use Firefox or Safari.  Here's a screenshot. I may be noticing
<img width="1552" alt="Screen Shot 2020-06-11 at 3 07 32 PM" src="https://user-images.githubusercontent.com/12616674/84429270-d8bfb100-abf5-11ea-8fd5-e1a14754e402.png">
 the issue, in part, because I'm used to looking at the actual cards and the digitized cards in the findin

[2020-06-11 19:15] clmahoney commented on #662
My apologies! Of course:
- An example of a generic event coming in last: Mrs. Perkins' event with National Geographic: https://shakespeareandco.princeton.edu/books/national-geographic/cards/

- An example of a event without a specific date coming in last: Culver borrow of Spectator: https://shakespeareandco.princeton.edu/books/wrench-spectator/cards/

[2020-06-11 19:59] rlskoeser commented on #660
Line height was not set correctly to match the design spec.

@clmahoney available to do a quick check to confirm the fix? https://test-shakespeareandco.cdh.princeton.edu/books/mackenzie-early-life-adventures/cards/

[2020-06-11 20:30] rlskoeser commented on #665
Please test https://test-shakespeareandco.cdh.princeton.edu/members/stirling-monica/cards/
Check both desktop or tablet and mobile since mobile differs slightly.

[2020-06-11 20:32] rlskoeser commented on #664
@clmahoney test by adding NOTATION: PERIODICALSUBSCRIPTION to the private notes for a generic event (or really any event) and then check how it displays in the activity list or card detail views.

[2020-06-11 20:34] clmahoney commented on #660
- YES, the spacing looks fine now!
![Screen Shot 2020-06-11 at 4 33 45 PM](https://user-images.githubusercontent.com/16673934/84436427-6b198200-ac01-11ea-88bd-696e61484dc9.png)

[2020-06-11 20:34] clmahoney commented on #660
Can I close or do we want @jkotin to sign off?

[2020-06-11 20:36] clmahoney commented on #665
- NO, I think the spacing if still off. I tried this is on my computer:
![Screen Shot 2020-06-11 at 4 36 00 PM](https://user-images.githubusercontent.com/16673934/84436589-b3d13b00-ac01-11ea-839a-4d141fc22738.png)

[2020-06-11 20:37] #660 closed

[2020-06-11 20:41] clmahoney commented on #665
BUT YES, spacing looks great on mobile!
![IMG_2306](https://user-images.githubusercontent.com/16673934/84436951-4671da00-ac02-11ea-8bfe-4b6a1e82fa0e.PNG)

[2020-06-11 20:42] clmahoney commented on #665
OK I tried again after a forced reload and the computer image looks good too:
![Screen Shot 2020-06-11 at 4 41 55 PM](https://user-images.githubusercontent.com/16673934/84437130-82a53a80-ac02-11ea-8c3b-3befe1169132.png)

[2020-06-11 20:43] clmahoney commented on #665
Although, I feel like I'm seeing things but I think the spacing still isn't quite the same?

[2020-06-11 20:46] clmahoney commented on #664
- YES this looks awesome! I added "NOTATION: PERIODICALSUBSCRIPTION" to Teissier's subscription of Horizon in the test site admin, and viola!
![Screen Shot 2020-06-11 at 4 45 42 PM](https://user-images.githubusercontent.com/16673934/84437497-11b25280-ac03-11ea-85e3-329b826cb020.png)

[2020-06-11 20:46] #664 closed

[2020-06-11 20:47] clmahoney commented on #665
Am I look at spacing between cards or space with the dates beneath?

[2020-06-11 20:48] rlskoeser commented on #665
@clmahoney the most important thing is that the images that are different sizes (I think the last three in this case) display correctly and don't get squished into the usual lending library card size — compare this page on the test site and production (or Josh's screenshot) to see.

[2020-06-11 20:50] clmahoney commented on #665
Oh I finally see it! Thank you! I compared it to the production site and can clearly see now that the odd-sized images are NOT getting squished anymore!

[2020-06-11 20:50] #665 closed

[2020-06-14 03:03] clmahoney opened #667 "Book search is failing to reindex correctly if events are changed (add/delete/reassociate) without updating work record"
**Describe the bug**
When a work is altered on the test-admin site, the test-production site adds the new work but does not reindex the old work on the book sort page. For example, when I divided "Vanity Fair" from one periodical with 16 events to the periodical with 4 events and another entry for the novel Vanity Fair with 12 events, the production site shows the novel entry with 12 events but st

[2020-06-15 02:05] jkotin opened #668 "Search"
Not urgent, but search results seem counter-intuitive.

An example, I search for "Charles First," and expect to find "Charles the First" by Belloc. But that result is 62. See screen shots.

<img width="1263" alt="Screen Shot 2020-06-14 at 10 01 06 PM" src="https://user-images.githubusercontent.com/12616674/84611145-f194c480-ae8a-11ea-8d49-90d77ae207f4.png">

<img width="1263" alt="Screen Shot 2020

[2020-06-16 18:14] rlskoeser commented on #668
@jkotin is this any better based on the revisions to search configuration in 1.1.1 ?

I think this behavior is due to the higher boosting we've applied to authors over titles.

[2020-06-16 18:15] rlskoeser commented on #667
Have configured a nightly cron job to reindex works in the interim until this is resolved. The cron job should be turned off when this is fixed.

[2020-06-16 18:40] jkotin commented on #668
Yes, seems much better.  I'll keep using and report!

[2020-06-16 18:40] jkotin commented on #668
Should I close for now or close later once I've done more searches?

[2020-06-16 18:41] rlskoeser commented on #668
@jkotin you can leave it open until you've investigate more — but if you leave it open, please make it more specific

[2020-06-16 19:26] jkotin commented on #668
Still some counter-intuitive search results. I search for the journal La Revue de Paris and I get this result:

<img width="1048" alt="Screen Shot 2020-06-16 at 3 22 55 PM" src="https://user-images.githubusercontent.com/12616674/84819091-78f64b00-afe5-11ea-9093-5fc017bce01f.png">

I then remove the article "La" and I get the result that I was looking for:

<img width="1048" alt="Screen Shot 2020-0

[2020-06-16 19:28] jkotin opened #669 "Design // font of letter "e" with accent circonflexe"
Not urgent. See the font of the "ê" in the screen shot -- in "James Joyce Par Lui-même":

<img width="1048" alt="Screen Shot 2020-06-16 at 3 23 07 PM" src="https://user-images.githubusercontent.com/12616674/84819407-ed30ee80-afe5-11ea-8a8a-04188b8be4f2.png">

[2020-06-17 14:54] rlskoeser commented on #669
If it's not displaying correctly, it likely means that glyph is not included in our font — although that seems surprising.

I just checked and it looks correct to me on Chrome and Firefox — only on Safari do I see this version.

[2020-06-18 14:30] rlskoeser commented on #669
@jkotin could you or @clmahoney re-input the character to make sure it's the standard character we expect rather than a different variant that was cut and paste in?

Also, in future: if there is a link on the public site where we can easily view or duplicate the problem, please include the url along with any screenshots.

[2020-06-18 14:33] jkotin commented on #669
That fixed it!  It was a cut and paste job.

And will do about links!

[2020-06-18 14:33] #669 closed

[2020-06-18 14:49] jkotin opened #670 "Remove volume/issue list on bibliography page"
I've received feedback that the volume/issue list on the bibliography page is confusing. The list implies that _only_ the listed volumes/issues circulated, when in fact the list only includes the volumes/issues that we _know_ circulated. Consider _The American Mercury_ to cite a random example:

https://shakespeareandco.princeton.edu/books/mencken-american-mercury/

The bibliography page lists nin

[2020-06-18 15:05] rlskoeser commented on #670
@gissoo do you have any concerns about removing volume/issue list from the bibliography page?

[2020-06-18 22:47] jkotin opened #671 "author/title overlaps on mobile borrowing card view for authors with long names"
Not urgent. Book titles interfering with long author names.

https://shakespeareandco.princeton.edu/members/culver-donald/borrowing/

<img width="826" alt="Screen Shot 2020-06-18 at 6 46 08 PM" src="https://user-images.githubusercontent.com/12616674/85079137-11cac900-b194-11ea-828c-97e594e26a70.png">

[2020-06-23 21:22] gissoo commented on #663
@jkotin, @rlskoeser and I conversed on this and I tested it this morning.
I looked at the exact same page you have above live from the site using my macbook 15in 2019 retina display and it exactly matches your screenshot. Here it is:
<img width="1176" alt="Screen Shot 2020-06-23 at 10 03 27 AM" src="https://user-images.githubusercontent.com/44615389/85464035-31d40100-b575-11ea-915a-01859543d2bb.pn

[2020-06-23 21:28] gissoo commented on #670
@rlskoeser @jkotin I finally got a chance to read the comments and think about this. I agree that removing it from the Bibliography page makes sense at this point, it's not contextual information, and it deserved to be questioned and argued about more at the time we were working on it.

[2020-06-23 22:21] jkotin commented on #670
Thank you so much @gissoo !

[2020-06-26 20:03] rlskoeser commented on #642
@jkotin I'd like to revise the language we're using for subscription events — "joined the library" isn't always accurate for subscription events in the database, since sometimes what are effectively renewals (following a preceding subscription) were logged and documented as subscriptions, and there are plenty of people who let their subscription end but then subscribe again later. (In theory I cou

[2020-06-27 14:52] jkotin opened #673 "Finalize Datasets for Deposit"
Comments on books:

1. Exclude OCLC links. I worry many are incorrect—when I was correcting books, I tried to check them, but I’m not confident that I deleted all the incorrect ones.

2. Exclude column “identified.” I worry that we’re using the uncertainty icon for too broad a range of issues. Might be better to refer researchers to the notes and the use of “unidentified.”

3. I'm going to try to

[2020-06-27 14:59] jkotin commented on #642
Some notes on the tweets on the test site:

1. Initial “smart” quotation marks are angled in the wrong direction.
2. Update test site, if drawing from test site—some info is out of date.
3. Exclude items with uncertainty icons or books (not periodicals) without dates?
4. We need to fix author names and decide where best to pull author names from—e.g. Jean Riviere borrowed a book by “Edward John Mo

[2020-06-27 18:00] i-davis opened #674 "Partial date autopopulation//duration information unsaved"
## testing notes
- try creating or saving a subscription with unknown year where the start and end date span subsequent years (e.g., a december to january subscription); check that duration is set properly
- try adding a footnote to a subscription like the above

---
When a partial date (a year with no month or day, or a month and year with no day) is entered, the database autopopulates the missin

[2020-06-27 19:08] jkotin commented on #642
Re: language for posts -- I'm OK with using "subscribed" and "renewed."

Would it be possible to include "Shakespeare and Company" like this:

100YearsAgoToday on Saturday, June 27 at the Shakespeare and Company lending library, John Smith subscribed for 1 month at 1 volume per month.

100YearsAgoToday on Saturday, June 27 at the Shakespeare and Company lending library, John Smith renewed for 1 mo

[2020-06-28 12:21] jkotin commented on #673
Comments on members:

1. This looks great. My only concern/regret is the use of titles. We decided to include titles in the "name" field for display issues. We might want to consider deleting all titles from that field for the data exports.

2. I have been deleting some of the titles from the "title" field for display issues. If a member is also an author, their title appears with their name in th

[2020-06-28 12:25] jkotin commented on #673
Additional comments on members:

3. Would it make sense, at a later date, to have a separate export for addresses?  We would list members associated with each address. Not addresses associated with each member.

[2020-06-28 12:43] jkotin commented on #673
Comments on events:

1. FWIW, I've been downloading CSVs and looking at them. For members would it be worth having the member URIs in the first column to match the other two datasets?

2. I don't think we need the OCLC work URI—for the reasons I explain in my notes to books above.

3. There are ten event types called "other" -- do you know what they are? Should I ask Ian to fix this?

4. Should we

[2020-06-29 20:31] rlskoeser commented on #673
@jkotin thanks for the feedback and review. Responses:

## books
1. Regarding OCLC: do you mean work uri, edition uri, or both? It would be nice to at least keep the work uri; is there any way I could sanity check it against our data to give you more confidence? (Or to convince me it's junk data we should omit)
2. Can we rename the "identified" column to "uncertain"? Having a boolean field to filt

[2020-06-29 20:32] rlskoeser commented on #673
@jkotin @i-davis here are the 10 subscription events that are showing up as event type "other" :
[code]

[2020-06-29 20:39] rlskoeser commented on #673
@jkotin I ran the `reconcile_oclc` script in report mode against current data. Output attached so you can see if it would be useful. It looks like we'd need to update it to ignore items with **UNCERTAINTYICON** in the notes since it looks like the existing codes it excludes (generic, problem, obscure, zero) aren't sufficient.

Here's the report output (named as .txt because GitHub doesn't allow CS

[2020-06-29 21:50] rlskoeser commented on #642
@jkotin thanks for all the feedback. I like the revised language for subscriptions & including S&co in the prolog of every tweet.

- I updated the test site with production data from this morning
- I revised to include S&co in opening of all tweets
- I revised tweet language for subscriptions
- Excluded events connected to books with UNCERTAINTYICON in the notes
- I looked at available name fields

[2020-06-29 22:01] jkotin commented on #673
@rlskoeser Re: books:

1. Re: OCLC, I would like to delete both work and edition from the export. If there's a way to check whether either is accurate (or accurate enough) I'd definitely be happy to reconsider. I can't think of an obvious way to check. I worry that even a 10% error rate would undermine the value of the data. Maybe we could not include the URIs now and think about ways to verify an

[2020-06-30 00:02] jkotin commented on #642
This all looks good to me!  If Ian get the AR position, we'll fix the author names in the database to follow the same rules as the member names.  At that point, you'll want to use the sort name, according to the same rules at the front end.

[2020-06-30 13:42] rlskoeser commented on #673
@jkotin thanks for responses; seems like we should be choosing the simplest option at this point in favor of getting the datasets published and not introducing new problems. That means:

## books
1. Remove OCLC work and edition URIs. (I'm interested in potentially revisiting later, but not sure what it would entail.)
2. Remove identified/uncertain boolean (unless we can come up with another label

[2020-06-30 13:46] jkotin commented on #673
@rlskoeser I agree with all this, except I'd like to think a little more about books 2/ the uncertain column.  I agree about not generating new data.  Let me think about a label today.  Sound OK?

[2020-06-30 13:48] rlskoeser commented on #673
@jkotin yes, that sounds fine. Thanks.

[2020-06-30 20:44] jkotin opened #675 "We represent deposit reimbursements, but not deposits on the website."
When a member joined the lending library, they paid a membership fee and a deposit. For example, 25f (fee) and 50f (deposit). On the website, we represent that event under “Activities / Membership” as a “subscription” and list the fee under "amount." We do not list the deposit.

When a member ended their membership, they received their deposit back. On the website, we represent that event under “A

[2020-06-30 20:58] rlskoeser commented on #675
@jkotin I would like to go with the last option — include deposit in the total amount displayed.

[2020-06-30 20:58] jkotin commented on #673
@i-davis @rlskoeser :

We have ten "other" event types -- all listed above, earlier in this issue.  We would like to get rid of the event type "other."

Solution 1: change them all to either "generic" or "supplement."
Solution 2: create new event type "deposit" and change them all to "generic," "supplement," or "deposit."

Are there any other options? Which would you both prefer? My worry about so

[2020-06-30 21:01] jkotin commented on #675
OK, that's fine with me. Could that fix be included in the next iteration? I'm happy to accept it as the best solution under current circumstances. But do you think it's the ideal solution?  I.e. should we keep having a separate way to represent deposits as a wishlist item?

[2020-06-30 21:03] rlskoeser commented on #675
Yes, this approach should be a simple fix we can do quickly, which is why I'd like to go with that option.

I think we're unlikely to revise the design of that table given all the possible things we could be working on. It seems like a reasonable solution to me; people interested in digging into how the financials worked should probably be looking at the data exports anyway.

[2020-06-30 21:13] jkotin commented on #675
I agree with everything you say.

I do think there's value in keeping a wishlist of changes that we know we'll never prioritize.  Maybe the next generation of the team will think differently!

[2020-06-30 21:22] rlskoeser commented on #675
It's fine with me if you want to make a wishlist item for a better solution!

[2020-07-01 14:20] rlskoeser commented on #673
Solution 1: I don't think generic events work here because they don't allow you to document the deposit. Does supplement make sense to you two?
Solution 2: in case it wasn't clear, I was proposing not a brand new event type but a subtype of subscription (akin to supplement and renewal); my preference would be to get rid of "other" and replace it with "deposit" if that works because I don't know ho

[2020-07-01 16:55] i-davis commented on #673
Solution 1: Agreed, re generic. I don't think supplement works: I think we should keep that restricted to the particular situation where a member pays for an extra vol or a duration extension after the initial subscription.

Solution 2: I could see "deposit" working. There are now only 8 "other" subscription events. I corrected Culver and Michaelides. So technically every "other" except for Moynah

[2020-07-01 17:08] i-davis commented on #673
I just found another record for the Moynahan, and it looks like it should just be a regular subscription. So we're back down to 7 "other" categories, and all of them would fit under "deposit."

[2020-07-01 17:31] rlskoeser commented on #673
@i-davis good thought. I did a quick query and there are 197 subscription events with no price paid but a deposit. Here's a handful of them if you want to look and see if this matches what you expect and would make sense to convert to a "subscription deposit" event:
[code]

[2020-07-01 17:32] rlskoeser commented on #673
@jkotin did you come to any decisions about the uncertainty column for the books export? I thought of a couple more possible labels: problematic, ambiguous

[2020-07-01 18:03] jkotin commented on #673
@rlskoeser I think "uncertain" is good.  Not perfect, but better than not including the column.  Sorry it took me so long to come around to your original suggestion.

[2020-07-01 18:21] rlskoeser commented on #673
@jkotin thanks. I think it was worth discussing anyway!

[2020-07-01 18:35] jkotin commented on #673
I'm still a little confused re: "other" -- sorry @i-davis and @rlskoeser.  What's the current proposal?

Re: "subscription deposit" event -- it seems odd to me to separate out IFF there is no subscription fee.  Wouldn't a subscription deposit event be a subscription deposit event even if a subscription fee was paid as well?

Another question: do we know the deposit amount for the 7 remaining event

[2020-07-01 19:55] rlskoeser commented on #673
@jkotin did Beach treat them as separate events when people joined and paid their deposit & subscription fee at the same time?

[2020-07-01 21:30] jkotin commented on #673
@rlskoeser : @i-davis can confirm -- he knows the material better than I do -- but Beach usually recorded new memberships like this:

That means a deposit of 50f for new subscriber John Smith for 1 month, 1 volume at a time, for a 25f membership fee.

Beach would sum up the membership fees as part of her revenue, but not the deposits. I realize now that our sample logbook page doesn't have any dep

[2020-07-02 14:31] i-davis commented on #673
@jkotin @rlskoeser : Yep, confirmed, that's what most sub events look like!

We do know the deposit amount for each of the remaining 7.

I'm not sure if this answers your question about whether they should be denoted differently, Josh -- I think that's a good question, I'm not sure they should. But the Others do seem like a different sort of event from a sub. All they say is: "dep. [name] 50f." Se

[2020-07-02 14:38] jkotin commented on #673
@i-davis would you post screen shots of the remaining 7 "other" events?  Include links to the logbooks and the dates with years of the events. Also include versos, if relevant.

We'll tackle them one by one. I worry that Heineman's is deposit on a book that Beach has ordered for him. And thus doesn't involve the lending library.

When a patron wanted an expensive English language books, Beach woul

[2020-07-02 14:40] jkotin commented on #673
@rlskoeser Is this "other" challenge the last thing we have to decide for the exports?  I manually fixed a lot of the format blanks.

If you could generate a CSV with all the remaining format blanks without uncertainty notes, I'll fix them all.

[2020-07-02 14:47] i-davis commented on #673
@jkotin : mm I was just wondering that myself. Will collect the screen shots now!

[2020-07-02 15:00] i-davis commented on #673
Chang: [1932-10-01](https://drive.google.com/open?id=1hsf-hs8pqa9g99SRS_UTe07A_4JEWQ6N)

<img width="967" alt="Screen Shot 2020-07-02 at 10 48 21 AM" src="https://user-images.githubusercontent.com/15250325/86373578-8fd9a600-bc51-11ea-94ce-dfe05cde5395.png">

Price: [1933-06-09](https://drive.google.com/open?id=1_OJ1kKQRxUWkxLiJL-b17uHxKAwI-Set)

<img width="973" alt="Screen Shot 2020-07-02 at 10 5

[2020-07-02 15:52] rlskoeser commented on #670
@jkotin please review on the test site to confirm volume/issue list has been removed from bibliography page.

[2020-07-02 15:53] rlskoeser commented on #675
@jkotin please review on the test site to confirm subscription amount = deposit + price paid.

[2020-07-02 16:00] rlskoeser commented on #642
@jkotin this functionality is now on the test site with all the changes we discussed.

Please check the review page to confirm the format of the tweets and that it will be sufficient for you to review the tweets ahead of time before they are posted.
https://test-shakespeareandco.cdh.princeton.edu/events/100-years-review/

If there are scenarios you want to check that aren't showing up in the next

[2020-07-02 17:05] jkotin commented on #673
@i-davis thank you!  Have you checked to see how these events fit the membership timelines of the individual members?  If not, would you?  For example, does de Girodon not give a deposit for their membership on 10/22/41, and hence this deposit?

I suspect that these are legit membership/subscription deposit-events.  If that suspicion is correct, I'm not sure how to categorize them. Ideally, we wou

[2020-07-02 19:07] rlskoeser commented on #673
@jkotin I generated a new set of book and event exports from the test site (this is based on the same data I refreshed from production earlier in the week; I didn't export member data because we didn't change anything). https://drive.google.com/drive/u/0/folders/1jkxqEIbaYFus80ftFQqzdqKpmxcZPXoE

Please review to confirm that I made the changes we agreed on in https://github.com/Princeton-CDH/mep-

[2020-07-02 21:05] jkotin commented on #670
Perfect.

[2020-07-02 21:05] #670 closed

[2020-07-02 21:10] jkotin commented on #675
@i-davis would you spot check 10 random subscriptions on the test site and let us know here if the amounts look right?

[2020-07-02 21:32] jkotin commented on #642
This looks good. I can't think of scenarios to test.  Two sets of questions:

1. What will be the workflow for this moving forward?  When will it replace the current 100years twitter, and what will be the review process? Would it make sense to review a batch (three months?) of tweets just in case there are odd scenarios that arise?  I don't know the data well enough to predict odd events.

2. Does

[2020-07-03 02:02] jkotin commented on #673
@rlskoeser the data looks great!

@i-davis -- my understanding is that all the generic events are for books. There are no generic subscription events -- is that correct?  (And the generic events for books are for events that do not conform to the extant labels: borrow, purchase, cross out, gift, loan, etc.)

So the last remaining question is what to do with the "other" events?  I'll wait to hear h